.billing-fieldset,
.shipping-fieldset {
  margin-top: 0;
  padding: 0.35em 0.625em 0.75em;
}

.checkout-use-billing-address label,
.checkout-use-billing-address {
  font-family: $primary_font_regular;
  font-size: 1rem;
  font-style: normal;
  color: $dark_green;
  line-height: 1.54;
  margin: 0.5rem 0 1rem 0;
}

.checkout.form-buttons {
  padding: 0.35em 0.625em 0.75em;
}
