/target
/classes
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.repl
.cljs_rhino_repl
.DS_Store

*.log
resources/public/js/out
resources/public/css
resources/public/cdn
resources/public/sourcemaps
resources/rev-manifest.json
resources/client_version.txt
node_modules/
/package-lock.json
.cpcache/
.rebel_readline_history