/target
/classes
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.repl
.lsp/.cache
.cljs_rhino_repl
.DS_Store
.clj-kondo/.cache
*~undo-tree~

*.log
resources/public/js/out
resources/public/css
resources/public/cdn
resources/public/sourcemaps
resources/public/cljs-out
resources/rev-manifest.json
resources/client_version.txt
resources/*.stat
node_modules/
/package-lock.json
.cpcache/
.rebel_readline_history

.calva
.portal/vs-code.edn
