{:asset-path       "/js/out"
 :output-dir       "resources/public/js/out"
 ;; Don't forget to update config.clj > define-frontend-modules
 ;; Don't forget to update project.clj
 ;; Don't forget to update views.clj > js-modules
 ;; Read: https://clojurescript.org/news/2017-07-10-code-splitting#_technical_description
 ;; To predict which modules will contain what code
 :modules          {:cljs-base     {:output-to "resources/public/js/out/cljs_base.js"}
                    :ui            {:output-to "resources/public/js/out/ui.js"
                                    :entries   #{storefront.components.ui}}
                    :main          {:output-to  "resources/public/js/out/main.js"
                                    :entries    #{storefront.core}
                                    :depends-on #{:ui}}
                    :homepage      {:output-to  "resources/public/js/out/homepage.js"
                                    :entries    #{homepage.core}
                                    :depends-on #{:ui}}
                    :dashboard     {:output-to  "resources/public/js/out/dashboard.js"
                                    :entries    #{stylist.dashboard}
                                    :depends-on #{:catalog}}
                    :redeem        {:output-to  "resources/public/js/out/redeem.js"
                                    :entries    #{voucher.redeem}
                                    :depends-on #{:catalog}}
                    :design-system {:output-to  "resources/public/js/out/design-system.js"
                                    :entries    #{design-system.home}
                                    :depends-on #{:dashboard :main :redeem :catalog :checkout}}
                    :catalog       {:output-to  "resources/public/js/out/catalog.js"
                                    :entries    #{catalog.core stylist-profile.stylist-details}
                                    :depends-on #{:ui}}
                    :checkout      {:output-to  "resources/public/js/out/checkout.js"
                                    :entries    #{checkout.core}
                                    :depends-on #{:catalog}}}
 :optimizations    :none ;; see https://github.com/bhauman/lein-figwheel/issues/592
 :pretty-print     true
 :infer-externs    false
 :static-fns       true
 :fn-invoke-direct true
 :parallel-build   true
 :npm-deps         false
 :install-deps     false
 :foreign-libs     [{:file     "src-cljs/storefront/jsQR.js"
                     :provides ["jsQR"]}
                    {:file     "src-cljs/storefront/muuri.js"
                     :file-min "target/min-js/muuri.js"
                     :provides ["Muuri"]}
                    {:file     "src-cljs/storefront/muuri_react.js"
                     :file-min "target/min-js/muuri_react.js"
                     :requires ["Muuri"]
                     :provides ["MuuriReact"]}
                    {:file     "src-cljs/storefront/bugsnag-2.5.0.js"
                     :provides ["bugsnag"]}]
 :externs          ["externs/luckyorange.js"
                    "externs/jsQR.js"
                    "externs/muuri.js"
                    "externs/muuri_react.js"
                    "externs/bugsnag.js"
                    "externs/browser.js"
                    "externs/convert.js"
                    "externs/facebook.js"
                    "externs/google_maps.js"
                    "externs/kustomer.js"
                    "externs/quadpay.js"
                    "externs/riskified.js"
                    "externs/spreedly.js"
                    "externs/stringer.js"
                    "externs/stripe.js"
                    "externs/uploadcare.js"
                    "externs/wistia.js"
                    "externs/yotpo.js"]
 :preloads         [devtools.preload]}
