{:target-dir        "resources/"
 :watch-dirs        ["src-cljc" "src-cljs"]
 :css-dirs          ["resources/public/css"]
 :open-url          "http://shop.storefront.localhost/_style"
 :repl-eval-timeout 30000}
