<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <CustomLevels>
    <CustomLevel name="EVENT" intLevel="401" />
    <CustomLevel name="ERROR-EVENT" intLevel="201" />
    <CustomLevel name="VERBOSE" intLevel="550" />
  </CustomLevels>

  <Appenders>
    <Console name="STDOUT">
      <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true" objectMessageAsJsonObject="true" />
    </Console>
    <Console name="LOCAL">
      <JSONLayout compact="false" eventEol="true" properties="true" stacktraceAsString="true" objectMessageAsJsonObject="true" />
    </Console>
  </Appenders>

  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="STDOUT"/>
    </Root>
    <!--
         NOTE #1: this only works if `name` is a prefix of the :logging-namespace (see spice.logger4j.clj/make-logger)
         starts with com.mayvenn

         NOTE #2: Setting `additivity="false"` is required when the `com.mayvenn` logger
         is of a level which includes the level specified in the `root` logger.
         Otherwise we get duplicate log messages.

         This is because by default any logger which applies will output a seperate log entry.
    -->
    <Logger name="com.mayvenn"
            level="TRACE"
            additivity="false">
      <AppenderRef ref="STDOUT"/>
    </Logger>
  </Loggers>
</Configuration>
