#edit-account {
  width: (600rem / $default-font-size);
  margin: 0 auto;
  margin-top: (32rem / $default-font-size);

  h1 {
    margin-bottom: 1em;
  }

  input {
    width: 100%;
    line-height: 2.67rem;
    height: 2.67rem;
    padding-left: 0.5em;
    border: solid $lighter_blue_grey 1px;
    margin-bottom: 1em;
  }

  .user-password-instructions {
    color: $primary_color_text;
  }
}
