fieldset {
  border: none;
  margin-top: 1em;
  padding: 0.35em 0 0.75em;

  legend {
    font-family: $primary_font_medium;
    font-size: 0.917rem;
    color: $dark_grey;
    display: block;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #d9d9d9;
    padding: 0.417rem 0;
  }

  input[type=email],
  input[type=tel],
  input[type=text] {
    border: 1px solid $lighter_blue_grey;
    width: 100%;
    padding-left: 0.5rem;
  }

  select,
  input[type=email],
  input[type=tel],
  input[type=text] {
    line-height: 2.67rem;
    height: 2.67rem;
    margin: 0.2rem 0 0.75rem 0;
  }

  label {
    font-size: 1.08rem;
    font-family: $secondary_font;
    color: $dark_grey;
  }
}

#edit-account {
  width: (600rem / $default-font-size);
  margin: 0 auto;
  margin-top: (32rem / $default-font-size);

  h1 {
    margin-bottom: 1em;
  }

  input {
    width: 100%;
    line-height: 2.67rem;
    height: 2.67rem;
    padding-left: 0.5em;
    border: solid $lighter_blue_grey 1px;
    margin-bottom: 1em;
  }

  .user-password-instructions {
    color: $primary_color_text;
  }
}

.button {
  width: 100%;
  font-size: 1.3333em;
  height: 2.75em;
  line-height: 2.75em;
  color: white;
  background-color: $default_grey;
  border: none;
  margin: (26em / 32) 0;
  text-align: center;
  cursor: pointer;
  text-transform:capitalize;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;

  &.primary {
    background-color: $roi_orange;
  }
}
