footer {
    position: relative;
    background-color: #d3d3d3;
    margin-top: 2rem;

    .checkout {
        hr {
            width: 90%;
        }

        height: 200px;
        .help-phone {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 20px;
        }
    }

    &.badges {
        background-color: transparent;
    }

    .checkout {
        .badges {
            @include display(flex);
            width: 380px;
            margin: auto;

            .guarantee {
                background-image: url('/images/30DaySeal.png');
                width: 120px;
                height: 120px;
                @include stretch-bg
            }

            .security {
                margin-left: 20px;
                width: 215px;
                height: 120px;
                @include stretch-bg;
                &.homemade-seal {
                    background-image: url('/images/SafeSeal.png');
                }
                &.norton-seal {
                    background-image: url('/images/NortonSeal.png');
                }
                &.mcafee-seal {
                    background-image: url('/images/McAfeeSecure.png');
                }
            }
        }
    }
}
