div[data-hook="cart_container"] {
  margin-left: 20em / $default-font-size;
  margin-right: 20em / $default-font-size;
}

.cart-container {
  width: (600em / $default-font-size);
  margin: 0 auto;

  h4 {
    color: $dark-text;
    text-transform: uppercase;
    font-size: (22rem / $default-font-size);
  }

  a.cart-continue {
    &.extra-spacing {
      margin-top: 3rem;
    }
  }
}

a.button.continue {
  display: block;
  width: auto;
  background-color: $darkest_blue_grey;
  color: white;
  text-align: center;
  border: none;

  $font-px: 32em;
  font-size: ($font-px / $default-font-size);

  $height: (88em / $font-px);
  height: $height;
  line-height: $height;

  &.primary {
    background-color: $secondary_color;
  }
}

.line-item img {
  width: (164em / $default-font-size);
  height: (150em / $default-font-size);
  margin-right: (20em / $default-font-size);
}

.line-item {
  margin: 1em auto;
  padding-bottom: 1em;
  border-bottom: solid $medium_blue_grey 1px;

  & > a {
    float: left;
    display: block;
  }

  .quantity-adjustments {
    float: right;
    a.delete {
      margin-top: 1em;
      padding: 0.5em 0;
      display: inline-block;
      float: right;
    }
  }
}

.line-item-detail {
  overflow: hidden;
  min-height: (150em / 22);
  font-size: (22em / $default-font-size);

  h4 {
    margin-bottom: 0.2rem;
    a {
      color: $dark-text;
      font-family: $secondary-font;
      font-style: italic;
      font-weight: normal;
      text-transform: none;
    }
  }

  a.delete {
    color: $light-text;
    font-size: 0.85em;
  }

  a.delete.saving {
    color:transparent;
    height:1.5rem;
    width:1.5rem;
    background-repeat: no-repeat;
    background-image: url("/images/spinner.svg");
    background-size: 100% 100%;
  }
}

.line-item-detail.interactive h4 a{
  text-transform: capitalize;
}

.cart-label, .cart-value {
  color: $dark-text;
  font-size: (20rem / $default-font-size);
}

.cart-label {
  display: inline-block;
  width: (95rem / $default-font-size);
}

.line-item-detail .quantity {
  float: none;
  font-size: 0.6rem;
}

.cart-bottom {
  overflow: hidden;
}

.coupon-cart, .order-summary-cart {
  float: left;
  width: 100%;
}

.coupon-container {
  position: relative;
  border-top: solid $medium_blue_grey 1px;
  border-bottom: solid $medium_blue_grey 1px;
  background-color: $lightest_blue_grey;
  height: (78em / 16);
  line-height: (78em / 16);
  text-transform: uppercase;
  padding-left: 1em;
  color: $dark-text;
  font-size: (16em / $default-font-size);
}

.coupon-code-input {
  width: (262em / $default-font-size);
  height: (52em / $default-font-size);
  line-height: (52em / $default-font-size);
  font-size: 1rem;
  position: absolute;
  right: 0.5em;
  top: (8rem / $default-font-size);
  margin: auto 0;
}

.order-summary-total {
  width: 100%;
}

.order-summary-row {
  td {
    padding: 0 1em;

    &:last-child {
      text-align: right;
    }
  }

  background-color: $lightest_blue_grey;
  height: 3em;
  line-height: 1.2em;
  border-bottom: solid 1px $medium_blue_grey;
  border-top: solid 1px $medium_blue_grey;
  color: $dark-text;
  text-transform: uppercase;

  h5 {
    font-size: (20em / $default-font-size);
  }

  &.adjustment {
    background-color: #feeeeb;
  }

  &.cart-total {
    background-color: white;
    border-bottom: none;

    h5 {
      font-size: 1rem;
    }
  }
}

.empty-cart-message {
  text-align: center;
  margin: 3rem 0;
  font-family: $primary_font_medium;
  font-size: 300%;
  font-weight: bold;
  color: $green;
}

.extra-coupon-notice {
  color: #1d9b8b !important;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.empty-bag {
  display: block;
  width: (414rem / (1.5 * $default-font-size));
  height: (548rem / (1.5 * $default-font-size));
  margin: 0 auto;
  background-image: url('/images/shopping-bag-empty.png');
  @include stretch-bg;
  margin-bottom: 4rem;
}

.or-divider {
    border-top: 1px solid #e0e0e0;
    color: #e0e0e0;
    margin-bottom: 1em;
    line-height: 0;
    text-align: center;

    &>span {
        background: white;
        padding: 0 0.5rem;
    }
}

.paypal-checkout {
    display: block;
    margin: 0 auto;
}
