.gold-features {
  display: block;
  margin: 2rem auto;
  width: (640rem / $default-font-size);
  height: (305rem / $default-font-size);
  background-image: url('/images/bundle-trio.png');
  @include stretch-bg;

  figure {
    display: none;
  }
}
