.taxon-products-container {
  overflow: hidden;
  margin: 0 auto;
  width: 600rem / $default-font-size;
}

.taxon-nav {
  border: solid #ccc 1px;
  border-bottom: none;
  border-left: none;
  margin-top: 1rem;
  margin-bottom: 2rem;

  .hair-taxon {
    float: left;
    border: solid #ccc 1px;
    border-top: none;
    border-right: none;
    background-color: #f7f7f7;
    height: 50px;
    line-height: 50px;
    width: 33.333%;

    &.selected {
      @include linear-gradient(to right, $main_gradient_dark, $main_gradient_light);

      .hair-taxon-name {
        color: white;
      }
    }
  }

  .hair-taxon-name {
    font-family: $primary_font_medium;
    color: #666;
    margin: 0;
  }

  .taxon-slice {
    display: inline;
  }
}

.taxon-product-container {
  position: relative;
  width: 100%;
  height: 22.2rem;
  border: none;
  margin-bottom: 1rem;
}

.taxon-product-info-container {
  background-color: #737373;
  bottom: 0;
  color: #ffffff;
  opacity: 0.90;
  left: 0;
  position: absolute;
  width: 100%;
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  font-size: 1.56rem;
  line-height: 1.7rem;
  padding: 0;

  .taxon-product-description-container {
    font-family: $primary_font_regular;
    flex: flex-grow;
    padding: 0.389rem 1.11rem;

    .taxon-product-collection {
      font-size: 1rem;
      font-family: $secondary_font;
      font-style: italic;
      padding: 0;
      text-transform: capitalize;
      letter-spacing: 0.1rem;

      .taxon-product-collection-indicator {
        @include stretch-bg;
        display: inline-block;
        width: 1.4rem;
        height: 1.4rem;
        margin-top: -0.3rem;
        vertical-align: middle;

        &.ultra {
          background-image: url("/images/products/squiggle-categories-ultra@2x.png");
        }

        &.premier {
          background-image: url("/images/products/squiggle-categories-premier@2x.png");
        }

        &.deluxe {
          background-image: url("/images/products/squiggle-categories-deluxe@2x.png");
        }
      }
    }
    .taxon-product-title {
      font-size: 1rem;
      text-align: left;
      width: 100%;
    }
  }

  .taxon-from-price {
    flex: none;
    font-size: 1.1rem;
    margin: 0;
    padding: 0.3rem 0.833rem;
    width: 5rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    border-left: 1px solid #a0a0a0;

    span {
      font-size: 0.9rem;
    }
  }
}

.taxon-product-image-container {
  width: 100%;
  background-color: #e9eced;
  background-blend-mode: multiply;
  height: 22.2rem;
  @include stretch-bg;

  @include collection-ribbon;

  img {
    display: none;
  }
}

.taxon-show {
  #breadcrumbs {
    display: none;
  }
}
