// As they appear in the style guide
$green: #77c8bd;
$dark_green: #1d9b8b;
$orange: #f15d3a;
$gold: #bc9331;
$dark_grey: #666;
$medium_grey: #888;
$light_grey: #999;
$lighter_grey: #eaeaea;
$light_green: #b2cdcc;
$darkest_blue_grey: #a1aeb2;
$dark_blue_grey: #b8c6cc;
$medium_blue_grey: #c1ccd1;
$light_blue_grey: #c9d3d8;
$lighter_blue_grey: #dde3e5;
$lightest_blue_grey: #e8eced;
$errors: #fd4460;
$light_teal: #77c8bd; // FIXME: use style guide naming, this is green
$dark_teal: #1d9b8b; // FIXME: use style guide naming, this is dark green
$roi_green: #40cbac;
$roi_orange: #f5b023;
$roi_navy: #228ba6;

$main_gradient_dark: #36b5d6;
$main_gradient_light: #46baa9;
$feature_gradient_dark: #f865a5;
$feature_gradient_light: #ff6562;

$primary_color: $light_teal;
$primary_color_text: $dark_teal;
$thin_text_color: #00b290;
$secondary_color: $orange;
$gold_text: $gold;
$dark_gold_text: #ba8b25;
$darker_text: #555;
$dark_text: $dark_grey;
$medium_text: $medium_grey;
$light_text: $light_grey;
$error_color: $errors;
$default_grey: #acacac;

$facebook_blue: #3b5998;
