div.gold-features {
  @include display(flex);
  border-top: solid #bd9424 1px;
  border-bottom: solid #bd9424 1px;
  background-image: none;
  width: 100%;
  height: 80px;

  figure {
    display: block;
    width: 50%;
    height: 100%;
    @include stretch-bg;
    background-size: 66%;
  }

  .guarantee-feature {
    @include stretch-bg;
    border-right: solid #bd9424 1px;
    background-image: url('/images/desktop_assets/guarantee.png');
  }

  .free-shipping-feature {
    @include stretch-bg;
    border-right: solid #bd9424 1px;
    background-image: url('/images/desktop_assets/shipping.png');
  }

  .triple-bundle-feature {
    @include stretch-bg;
    background-image: url('/images/desktop_assets/bundle.png');
    margin-top: -10px;
    height: 95px;
  }
}