.hair-details {
  background-color: #bbb;

  .hair-taxon {
    width: 100%;

    .hair-taxon-name {
      font-weight: normal;
      color: white;
      text-align: center;
    }
  }
}

.categories-banner {
  display: none; // placeholder
  width: 100%;
  height: 252px;
}

div.gold-features {
  @include display(flex);
  border-top: solid #bd9424 1px;
  border-bottom: solid #bd9424 1px;
  background-image: none;
  width: 100%;
  height: 80px;

  figure {
    display: block;
    width: 50%;
    height: 100%;
    @include stretch-bg;
    background-size: 66%;
  }

  .guarantee-feature {
    @include stretch-bg;
    border-right: solid #bd9424 1px;
    background-image: url('/images/desktop_assets/guarantee.png');
  }

  .free-shipping-feature {
    @include stretch-bg;
    border-right: solid #bd9424 1px;
    background-image: url('/images/desktop_assets/shipping.png');
  }

  .triple-bundle-feature {
    @include stretch-bg;
    background-image: url('/images/desktop_assets/bundle.png');
    margin-top: -10px;
    height: 95px;
  }



}

.taxon-products-container {
  width: 100% !important;
  padding: 0 40px;

  .hair-taxon {
    &:first-child {
      border-left: none;
    }
  }

  div.taxon-nav {
    @include display(flex);
    @include flex-wrap(nowrap);
    margin-top: 0;
    margin-bottom: 0;
    border-right: none;
  }
}

.taxon-products-banner {
  width: 100%;
  height: 252px;
  @include stretch-bg;
}

div.taxon-products-list-container {
  @include display(flex);
  @include flex-wrap(wrap);
  margin: 0 -13px;

  a {
    float: left;
    margin: 11px;
    width: auto;
  }

  .taxon-product-container {
    position: relative;
    width: 297px;
    height: 269px;
    margin: 0;
    border: none;
    margin: 1em 2px;
  }

  .taxon-product-image-container {
    width: 100%;
    height: 100%;
    background-color: #e9eced;
  }

  .taxon-product-title-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #a0a0a0;
    left: 0;
    padding: 4px;
  }

  .taxon-product-title {
    color: white;
    font-weight: normal;
    font-size: 16px;
  }
}

.taxon-show {
  nav#breadcrumbs {
    display: block;
  }
}
