.guarantee-banner {
  display: none;
}

.product-show {
  margin-bottom: 2em;

  .home-actions-top {
    margin-top: 38px;
  }
}

div#product-images {
  margin: 51px 54px;
  width: 420px;
  float: left;

  .product-info {
      background-color: #737373;
      color: white;
      font-family: $primary_font_regular;
      padding: 12px;
      text-align: left;
      display: block;

      .product-collection {
          order: 1;
          font-family: $secondary_font;
          font-size: 1.2rem;
          font-style: italic;
          letter-spacing: 0.1rem;
          padding: 0;
          margin: 0;
          opacity: 0.90;
          text-transform: capitalize;
          border: 0 none;
          float: none;

          .product-collection-indicator {
              width: 1.78rem;
              height: 1.78rem;
              margin-top: -0.3rem;
              display: inline-block;
              vertical-align: middle;
              @include stretch-bg;

              &.ultra {
                background-image: url("/images/products/squiggle-categories-ultra@2x.png");
              }

              &.premier {
                background-image: url("/images/products/squiggle-categories-premier@2x.png");
              }

              &.deluxe {
                background-image: url("/images/products/squiggle-categories-deluxe@2x.png");
              }
          }
      }

      .product-title {
          order: 2;
          background-color: inherit;
          color: inherit;
          font-family: $primary_font_regular;
          font-size: 1.2rem;
          font-style: normal;
          margin: 0;
          padding: 0;
          opacity: 0.90;
          position: inherit;
          text-align: left;
      }
  }
}


#add-to-cart-button {
  margin-top: 38px;
}

div.product-description, div.product-collection-description {
  margin: 0 54px;
  width: 427px;

  .sub-header {
    background-image: none;
  }
}

#inside-product-cart-form {
  width: 420px;
}

.keypad {
  .keypad-item {
    width: 136px;
    margin: 2px;
  }
}

div.price-container {
  margin-top: 31px;
}

div.cart-form-container, .product-reviews {
  float: right;
  width: 420px;
  margin-right: 54px;
  margin-bottom: 2rem;
}

div#after-add {
  width: 100%;

  .go-to-checkout {
    margin-bottom: 0;
  }
}

div.go-to-checkout {
  width: auto;
}

div.quantity-selector {
  width: 174px;
  height: 3.125em;

  .plus, .minus {
    width: 1.705em;
    height: 1.705em;
    line-height: 1.705em;
    background-color: #d3d4d4;
  }

  input.quantity-selector-input {
    left: 2.35em;
    height: 2.35em;
    border: solid #d3d4d4 2px
  }
}

div.product-price {
  padding: 16px 0 9px;
}
