.bundle-builder {
  position: relative;
}

.bundle-builder .carousel {
  position: absolute;
  width: 31rem;
  top: 15px;
  left: 15px;
}

.bundle-builder-info {
  float: right;
  width: 50%;
}

div.bundle-builder {
    .spinner {
        background-position: top left;
    }

    .starting-at.centered {
        display: none;
    }

    .starting-at.floated {
        text-align: left;
        float: right;
        padding-top: 0.35em;
    }

    header {
        padding: 2.5em 0 1.0em 0;
        margin: 0 1rem 2rem 1rem;
        border: 0px solid #a0a0a0;
        border-bottom-width: 1px;
    }

  header.single-column {
    display: none;
  }

  .reviews-inner-wrapper {
      display: block;
  }

  header .category-header-sub {
      padding-top: 0.5em;
  }

  header.two-column {
      display: block;
      text-align: left;
  }
}
