.guarantee-banner {
  display: none;
}

.product-show {
  margin-bottom: 2em;

  .home-actions-top {
    margin-top: 38px;
  }
}

div#product-images {
  margin: 23px 54px 51px 54px;
  width: 420px;
  float: left;
}

.product-title {
    background-color: #a0a0a0;
    color: white;
    text-align: left;
    padding: 12px;
}

#add-to-cart-button {
  margin-top: 38px;
}

div.product-description, div.product-collection-description {
  margin: 0 54px;
  width: 427px;

  .sub-header {
    background-image: none;
  }
}

#inside-product-cart-form {
  width: 420px;
}

.keypad {
  .keypad-item {
    width: 136px;
    margin: 2px;
  }
}

div.price-container {
  margin-top: 31px;
}

.left-of-reviews-wrapper {
  float: left;
  margin-bottom: 50px;
}

div.cart-form-container,  .product-reviews {
  float: left;
  margin-right: 45px;
  margin-bottom: 2rem;
}

div.product-reviews {
  padding: 0;
}

div#after-add {
  width: 100%;

  .go-to-checkout {
    margin-bottom: 0;
  }
}

div.go-to-checkout {
  width: auto;
}

div.quantity-selector {
  width: 174px;
  height: 3.125em;

  .plus, .minus {
    width: 1.705em;
    height: 1.705em;
    line-height: 1.705em;
    background-color: #d3d4d4;
  }

  input.quantity-selector-input {
    left: 2.35em;
    height: 2.35em;
    border: solid #d3d4d4 2px
  }
}

div.product-price {
  padding: 16px 0 9px;
}
