div.manage-account-content {
  @include display(flex);
  @include flex-wrap(wrap);
  padding: 0 56px;
}

.manage-account-content {
  form.edit_mayvenn_stylist {
    @include display(flex);
    @include flex-wrap(wrap);
    width: 100%;
    margin: 0;

    .select-payout-method, .social-media, #store-credit {
      margin-top: 0;
      width: 47%;
    }
  }
}

.profile-info {
  width: 100%;
}

.select-payout-method {
  margin-right: 6%;
}

.profile-sections {
  @include display(flex);

  .profile-section {
    width: 47%;

    &:first-child {
      margin-right: 6%;
    }
  }

  .password-reset .password-fields .mayvenn_stylist_user_password label {
    margin-top: 1em;
  }
}

input.update-account {
  width: 47%;
  margin-left: 53%;
}