$header_height: 88px;

html {
  background-image: url('/images/desktop_assets/bg-wave-pattern.png');
  background-size: 47px 51px;
}

body {
  width: 1024px;
  background-color: white;
}

.header {
  position: absolute;
  left: $header_height;
  top: 0;
  width: 1024px - $header_height;
  height: ($header_height / 2);

  &.comm-login {
    height: 44px;
    margin-bottom: 1em;
  }

  .header-menu {
    display: none;
  }

  .logo {
    left: 13px;
    margin-left: 0;
    top: 0;
    width: 125px;
    height: 44px;
  }

  &.no-picture {
    left: 0;
    width: 1024px;
  }
}

.header .cart {
  top: 0;
  right: 14px;
  width: 44px;
  height: 44px;

  &.populated {
    top: 0;
    padding-top: 0;
    width: 70px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
  }
}

div.advertised-promo {
  font-size: 12px;
}

.down-arrow {
  display: inline-block;
  background-image: url('/images/desktop_assets/down-arrow-dark-grey.png');
  width: 10px;
  height: 10px;
  @include stretch-bg;
}
