.taxon-products-banner {
  &.hair-straight-brazilian {
    display: none;
  }

  &.hair-straight {
    background-image: url('/images/desktop_assets/category-banner-straight.jpg');
  }

  &.home-page-products {
    display: none;
  }

  &.hair-straight-peruvian {
    display: none;
  }

  &.hair-body-wave {
    background-image: url('/images/desktop_assets/category-banner-body-wave.jpg');
  }

  &.hair-body-wave-malaysian {
    display: none;
  }

  &.hair {
    display: none;
  }

  &.hair-blonde {
    background-image: url('/images/desktop_assets/category-banner-blonde.jpg');
  }

  &.hair-blonde-indian {
    display: none;
  }

  &.hair-loose-wave-brazilian {
    display: none;
  }

  &.hair-loose-wave {
    background-image: url('/images/desktop_assets/category-banner-loose-wave.jpg');
  }

  &.hair-curly {
    background-image: url('/images/desktop_assets/category-banner-curly.jpg');
  }

  &.hair-curly-brazilian {
    display: none;
  }

  &.hair-loose-wave-peruvian {
    display: none;
  }

  &.stylist-products {
    background-image: url('/images/desktop_assets/category-banner-stylist-sample-kits.jpg');
  }

  &.hair-deep-wave {
    background-image: url('/images/desktop_assets/category-banner-deep-wave.jpg');
  }

  &.hair-deep-wave-brazilian {
    display: none;
  }

  &.unknown {
    display: none;
  }
}
