.home-large-image {
  width: 100%;
  height: 432px;
  background-color: #fff;
  margin-bottom: 33px;
  display: block;
  @include stretch-bg;
  background-image: url("/images/desktop_assets/desktop_home_image_clickable.jpg");
}

.text-free-shipping-banner {
  border: 2px $roi_green solid;
  margin: 1rem 0;
  padding: 1rem;
  color: $roi_green;
  font-family: $primary_font_medium;

  p {
    text-align: center;
  }
}
