div.guarantee-header {
  h2 {
    font-family: $secondary_font;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
  }
}

div.guarantee-header-image {
  margin: 60px 0;
  width: 250px;
  height: 205px;
}

div.guarantee-content {
  @include display(flex);
  margin: 0 18px;
  max-width: 100%;

  .guarantee-item {
    width: 425px;
    margin: 0 28px;
  }
}