.flash {
  margin: 0 0;
  padding: 0.5em 1em;
  color: $dark-text;
  background-color: $light_blue_grey;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.917rem;
  font-family: $primary_font_medium;

  &.error {
    background-color: $error_color;
    color: white;
  }

  &.success {
    background-color: $dark_green;
    color: white;
  }
}
