.simple_form {

  .input {
    margin: 0.5em 0;
  }

  .control-label {
    font-size: to-rem(28);
  }

  input[type=text],
  input[type=tel],
  input[type=password],
  input[type=email] {
    height: to-rem(60);
    font-size: to-rem(28);
    padding: 0 0.5em;
  }

  .field_with_errors {

    input {
      border: 1px solid $errors;
    }
  }

  .error {
    display: block;
    color: $errors;
    font-family: $primary_font_regular;
    font-size: to-rem(24);
    margin: 0.5em 0;
  }
}
