$header_height: (45em / 12);
header {
  position: relative;
}

a.header-menu {
  text-transform: uppercase;
  font-family: $primary_font_regular;
  color: $primary_color_text;
  margin-left: (9em / 12);
  line-height: $header_height;
}

$logo_width: (94.5em / 12);
$logo_height: 2em;

.logo {
  position: absolute;
  @include stretch-bg;
  background-image: url('/images/header_logo.png');
  top: ($header_height - $logo_height) / 2;
  left: 50%;
  margin-left: $logo_width / -2;
  width: $logo_width;
  height: $logo_height;
  &.comm-login {
      top: 0;
  }
}

$cart_width: (88rem / $default-font-size);
$cart_height: $cart_width;

a.cart {
  position: absolute;
  @include stretch-bg;
  background-image: url('/images/cart_menu_inactive.png');
  top: (1rem / $default-font-size);

  right: 0;
  width: $cart_width;
  height: $cart_height;
  color: white;
  font-family: $number_font;
  font-size: (16em / 12);

  &.populated {
    top: (13rem / $default-font-size);
    padding-top: (14rem / $default-font-size);
    padding-left: (12rem / $default-font-size);
    padding-right: (53rem / $default-font-size);
    width: (121rem / $default-font-size);
    height: (64rem / $default-font-size);
    right: 0;
    background-image: url('/images/cart_menu_active.png');
    text-align: center;
  }
}

.advertised-promo {
  padding: (11rem / $default-font-size);
  color: white;
  @include linear-gradient(to right, $main_gradient_dark, $main_gradient_light);
  text-align: center;
  text-transform: uppercase;
  font-size: (22rem / $default-font-size);
}

.page-heading {
  padding: (11rem / $default-font-size);
  color: white;
  background-color: $main_gradient_dark;
  text-align: center;
  text-transform: uppercase;
  font-size: (22rem / $default-font-size);
}

.stylist-bar {
  position: relative;

  height: (146rem / $default-font-size);
  background-color: #444;

  font-size: 175%;
  color: white;
  font-family: $secondary_font;
  font-style: italic;
  text-align: center;
  overflow: hidden;

  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);

  .stylist-bar-img-container {
    width: (150rem / $default-font-size);
    @include align-self(stretch);

    .stylist-bar-portrait {
      width: 100%;
      height: 100%;
    }
  }

  .stylist-bar-name {
    @include flex-grow-better(1);
    @include flex-shrink(80);
  }
}

.no-picture {
  .stylist-bar {
    padding-left: 0;
  }

  .stylist-bar-img-container {
    display: none;
  }
}
