.home-large-image {
  height: 18em;
  background-image: url("/images/home_image_clickable.jpg");
  @include stretch-bg;
  width: 100%;
  display: block;
}

.text-free-shipping-banner {
  border: 2px $roi_green solid;
  padding: 1rem;
  margin: 1rem 0;
  color: $roi_green;
  font-family: $primary_font_medium;

  p {
    text-align: center;
  }
}
