#home-content {
  width: (640rem / $default-font-size);
  margin: 0 auto;
}

.home-large-image {
  height: 18em;
  background-image: url("/images/home_image_clickable.jpg");
  @include stretch-bg;
  width: 100%;
  display: block;
}

.squashed-hair-categories {
  margin: 2em 0;
  width: 100%;

  .hair-category-link {
    float: left;
  }
}

.text-free-shipping-banner {
  border: 2px $roi_green solid;
  padding: 1rem;
  margin: 1rem 0;
  color: $roi_green;
  font-family: $primary_font_medium;

  p {
    text-align: center;
  }
}

.pick-style {
  text-align: center;
  color: $dark_text;
  margin: 2.0rem 0 0.6rem 0;
}
