$body_width: 100%;
$default-font-size: 24;

// Convert 2x (retina) pixel sizes to rems.
@function to-rem($number) {
  @return ($number / $default-font-size) + 0em;
}

* { box-sizing: border-box; }

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 320px;
  width: $body-width;
  margin: 0 auto;
  font-family: $primary_font_regular;
  overflow-x: hidden;

  .legacy-container {
    width: 100%;
  }
}

.page-wrap {
  position: relative;
  min-height: 100%;
  background-color: white;
}

a {
  text-decoration: none;
  color: $dark_green;
}

figure, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.errorExplanation {
  margin: 1em;
  padding: 1em;
  color: white;
  background-color: $error_color;
}

.big-button {
  display: block;
  text-align: center;
  font-size: 1.3333em;
  line-height: 2.75em;
  height: 2.75em;
  color: white;
  width: 100%;
  margin-top: 2em;
  border: none;
  background-color: $roi_orange;
}

.button.continue, .button {
  width: 100%;
  font-size: 1.3333em;
  height: 2.75em;
  line-height: 2.75em;
  color: white;
  background-color: $default_grey;
  border: none;
  margin: (26em / 32) 0;
  text-align: center;
  cursor: pointer;
  text-transform:capitalize;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;

  &.primary {
    background-color: $roi_orange;
  }
}

.full-link {
  display: block;
  width: 100%;
  height: 100%;
}

// Desktop Layout
@media screen and (min-width: 1024px) {
  html {
    background-image: url('/images/desktop_assets/bg-wave-pattern.png');
    background-size: 47px 51px;
  }

  body {
    width: 1024px;
    background-color: white;
  }

  .legacy-container {
    padding-bottom: 2em;
  }

  div.advertised-promo {
    font-size: 12px;
  }

  @import 'desktop_footer';
  @import 'desktop_stylist_edit';
}

// Mobile Layout
@media screen and (max-width: 1023px) {
  @import 'footer';
}

html {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
