.order-container {
  padding: 1rem;

  .order-summary-header {
    display: none;
  }
}

.order-shipment-state-container {
  float: left;
  padding-right: 1rem;
}

.order-shipment-tracking-container {

  h6 {
    font-size: 1rem;
    text-transform: uppercase;
    color: $darker_text;
    font-family: $primary_font_regular;
  }

  .tracking {
    font-size: 1.25rem;

    a {
      &:link,
      &:visited {
        color: $primary_color_text;
      }
    }
  }
}
