a.cart-button {
  color: white;
  width: 100%;
  display: block;
  padding-left: 1em;
  padding-top: (26rem / $default-font-size);
  padding-bottom: (26rem / $default-font-size);
}

.product-reviews {
  margin: 0 auto 2rem auto;
}

.product-reviews-summary {
  overflow: hidden;

  .star-summary, .question-summary {
    float: left;
    clear: none;
  }

  .question-summary {
    margin-left: 1.5rem;
  }
}
