.product-reviews {
  margin: 0 auto 2rem auto;
}

.product-reviews-summary {
  overflow: hidden;

  .star-summary, .question-summary {
    float: left;
    clear: none;
  }

  .question-summary {
    margin-left: 1.5rem;
  }
}
