.slideout-nav {
    display: none;

    .slideout-nav-open & {
        z-index: 1000;
        display: block;
        position: fixed;
        bottom: 0;
        height: 100%;
        width: 20.75rem;
        background-color: #b8b9b9;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        @include backface-visibility(hidden);
    }
}

.slideout-nav-header {
    background-color: #444;
    overflow: hidden;
    border-bottom: (2rem / $default-font-size) solid #f8f8f8;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
    height: (150rem / $default-font-size);
}

.store-credit {
    overflow: hidden;
    background-color: #444;
    line-height: 2.3rem;
    padding: 0 0.5rem;
    border-bottom: (2rem / $default-font-size) solid #f8f8f8;
    color: white;
    .label {
        float: left;
    }
    .value {
        float: right;
    }
}

.slideout-nav-img-container {
    float: left;
    position: relative;
    width: (150rem / $default-font-size);
    height: (150rem / $default-font-size);
    z-index: 1;
}

.slideout-nav-portrait {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));

    &.missing-picture {
        @include stretch-bg;
        background-image: url("/images/profile_pictures/standard/missing.png");
        width: 6.25rem;
        height: 6.0833rem;
    }
}

.slideout-nav-title {
    background-color: #737373;
    color: white;
    font-family: $secondary_font;
    font-style: italic;
    font-weight: normal;
    line-height: 1.25;
    font-size: (34rem / $default-font-size);
    margin-top: (76rem / $default-font-size);
    @include transform(translateY(-50%));
    text-align: center;
    padding: (8rem / $default-font-size);
}

.slideout-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slideout-nav-section {
    @include clearfix;

    &.stylist {
        background-color: #878787;
    }
}

.slideout-nav-section-header {
    border-bottom: 1px solid #dfe4e7;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    font-family: $secondary_font;
    font-style: italic;
    font-weight: normal;
    font-size: 1.333rem;
    color: $dark_grey;

    &.highlight {
        @include linear-gradient(to right, $main_gradient_light, $main_gradient_dark);
        color: white;
    }
}

.slideout-nav-link {
    display: block;
    float: left;
    height: 7rem;
    text-align: center;
    border-bottom: 1px solid #dfe4e7;
    font-family: $primary_font_medium;
    font-size: 1.05rem;
    line-height: 1em;
    position: relative;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
    }

    &:link,
    &:visited {
        color: white;
    }

    &:hover,
    &:active {
    }

    &.full-width {
        width: 100%;
    }

    &.half-width {
        width: 50%;
        border-right: 1px solid #dfe4e7;

        &:last-child {
            border-right: none;
        }
    }
}

.slideout-nav-link-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 1rem;
}

.slideout-nav-link-icon {
    display: block;
    width: auto;
    max-height: 4rem;
    margin: 0 auto 0.42rem auto;
    @include stretch-bg;


    &.icon-hair-extensions {
        width: 3.25rem;
        height: 3.9167rem;
        background-image: url("/images/slideout_nav/hair_extensions.png");
    }

    &.icon-stylist-products {
        width: 4.167rem;
        height: 4.167rem;
        background-image: url("/images/slideout_nav/stylist-products.png");
    }

    &.icon-my-orders {
        width: 2.7917rem;
        height: 3.792rem;
        background-image: url("/images/slideout_nav/my_orders.png");
    }

    &.icon-community {
        width: 3.25rem;
        height: 3.9167rem;
        background-image: url("/images/slideout_nav/community.png");
    }

    &.icon-refer-friend {
        width: 4.333rem;
        height: 4.333rem;
        background-image: url("/images/slideout_nav/refer.png");
    }

    .slideout-nav-link.half-width & {
        &.icon-stylist-referrals {
            width: 2.625rem;
            height: 2.625rem;
            background-image: url("/images/slideout_nav/stylist_referrals.png");
        }

        &.icon-30-day-guarantee {
            width: 2.625rem;
            height: 2.625rem;
            background-image: url("/images/slideout_nav/30_day_guarantee.png");
        }

        &.icon-customer-service {
            width: 3.4167rem;
            height: 2.9167rem;
            background-image: url("/images/slideout_nav/customer_service.png");
        }

        &.icon-sales-bonuses {
            width: 2.5rem;
            height: 2.25rem;
            background-image: url("/images/slideout_nav/sales_bonuses.png");
        }

        &.icon-commissions-and-payouts {
            width: 3.4167rem;
            height: 2.7083rem;
            background-image: url("/images/slideout_nav/comissions_and_payouts.png");
        }

        &.icon-manage-account {
            width: 2.2083rem;
            height: 2.2083rem;
            background-image: url("/images/slideout_nav/manage-account.png");
        }

        &.icon-join {
            width: 3.4583rem;
            height: 3.125rem;
            background-image: url("/images/slideout_nav/join.png");
        }

        &.icon-sign-in {
            width: 2.9583rem;
            height: 3.0417rem;
            background-image: url("/images/slideout_nav/sign_in.png");
        }

        &.icon-join,
        &.icon-sign-in,
        &.icon-edit-profile {
            margin-bottom: 1rem;
        }

        &.icon-edit-profile {
            width: 3.1667rem;
            height: 2.25rem;
            background-image: url("/images/slideout_nav/edit_profile.png");
        }

        &.icon-logout {
            width: 3.0rem;
            height: 2.375rem;
            background-image: url("/images/slideout_nav/logout.png");
            margin-bottom: 0.92rem;
        }
    }
}

.horizontal-nav-list {
    display: none;
}
