#email-referral {
  width: 100%;
  display: block;
  height: 3.6em;
  line-height: 3.6em;
}

.email-icon {
  width: 1.9em;
  height: 1.4em;
  @include stretch-bg;
  background-image: url('/images/contact_mail_solid.png');
  background-size: 88%;
  margin: 1em;
  float: left;
}

.right-arrow-icon {
  float: right;
  background-image: url('/images/right_white_arrow.png');
  @include stretch-bg;
  background-size: 80%;
  width: 1.2em;
  height: 3.6em;
  margin-right: 0.7em;
}

.referral-paid-time, .referral-amount-due {
  margin-top: 0.7em;
}

.paid-amount {
  text-align: right;
  margin-bottom: 1.0em;
}

.referral-label {
  color: white;
  text-transform: uppercase;
  height: 2.2em;
  line-height: 2.2em;
  text-align: center;

  &.pending-label {
    background-color: #bbb;
  }

  &.paid-label {
    background-color: $light_teal;
  }
}

.referral-progress {
  .progress-bar {
    height: 0.8em;
    background-color: #bbb;
    width: 11em;
    margin-top: 0.7em;

    .progress-bar-progress {
      background-color: $light_teal;
      height: 100%;
    }
  }

  .progress-text {
    text-align: left;
    margin-top: 0.7em;
  }
}
