@import 'stylist_edit';

.dashboard-content {
  padding: 1em;
}

.dashboard-details-header {
  margin-top: 2.5em;
  text-transform: uppercase;
  color: $darker_text;
  font-family: $primary_font_regular;

  &.no-top-space {
    margin-top: 0;
  }
}

.solid-line-divider {
  border-bottom: 0.1em solid $lighter_grey;
  margin: 0.6em 0;
}