.photo-container {
  margin: 1.0em 0;
  @include display(flex);
  @include align-items(center);
}

.profile-photo, .empty-profile-picture {
  width: 50%;
  min-height: 11em;
  min-width: 11em;
  border: 0.1em solid $lighter_grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.change-photo-link {
  position: relative;
  overflow: hidden;
  margin-left: 1em;
  color: $light_teal;
  font-family: $primary_font_regular;
  line-height: 1.1em;
  width: 50%;
}

.file-picker {
  margin-left: 1em;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 10em;
  cursor: pointer;
  opacity: 0;
  @include filter(alpha(opacity=0));
}

.dashboard-content .edit_mayvenn_stylist {
  width: (600rem / $default-font-size);
  margin: 0 auto;

  label {
    font-family: $secondary_font;
    font-style: italic;
    color: $dark-text;
    margin-top: 0.7em;
    display: block;
    text-transform: capitalize;
  }

  div.input input {
    width: 100%;
    border: solid $darkest_blue_grey 1px;
    height: 2.1em;
    padding: 0.5em;
    font-family: $primary_font_regular;
    color: $dark_text;
  }

  .top-padded-input {
    margin-top: 1em;
  }

  .payout-methods {
    list-style-type: none;
    padding: 0;
    @include display(flex);
    @include justify-content(space-between);

    & li {
      @include flex-grow-better(1);
      margin-left: 0.2em;
      text-align: center;

      &:first-child {
        margin-left: 0;
      }
    }

    & input {
      display: none;
    }

    & label {
      font-family: $primary_font_regular;
      font-style: normal;
      height: 2em;
      margin-top: 0;
      line-height: 2em;
      background-color: $lightest_blue_grey;
    }

    input:checked + label {
      background-color: $light_teal;
      color: white;
    }
  }

  #check.payout-method, #mayvenn_debit.payout-method {
    color: $medium_text;
    font-family: $primary_font_regular;
  }
}

.password-reset {
  .password-fields {
    @include display(flex);
    @include justify-content(space-between);

    .mayvenn_stylist_user_password label {
      margin-top: 2.4em;
    }

    .mayvenn_stylist_user_password_confirmation label {
      margin-top: 2.4em;
    }

    div.input {
      @include flex-grow-better(1);
      margin-left: 1em;
      &:first-child {
        margin-left: 0;
      }
    }

  }
  .password-instructions {
    color: $light_teal;
    margin: 0.7em 0 0 0;
  }
}

.social-media {
  margin-top: 1.5em;
}

.social-media-container {
  @include display(flex);
  @include justify-content(space-between);
  margin-top: 1.0em;

  div.input {
    @include flex-grow-better(1);
  }
}

.social-media-icon {
  width: 2.5em;
  height: 2.5em;
  margin-top: 0.5em;
  background-color: #acacac;
  @include stretch-bg;
  background-size: 68%;
  border-color: $darkest_blue_grey;
  border-style: solid;
  border-width: 0.05em 0 0.05em 0.05em;

  &.instagram {
    background-image: url('/images/instagram_white.png');
  }

  &.styleseat {
    background-image: url('/images/styleseat_white.png');
  }
}
