#next-reward-tracker {
  padding: 1em;
}

.extra-credit-info {
  margin-top: 0.7em;
}

$dark_progress_gray: #646464;

.progress-container {
  width: 100%;
  padding-top: 2.3em;
  @include display(flex);
  @include justify-content(space-between);
}

.progress-bar-container {
  position: relative;
  @include flex-grow-better(1);
  height: 0.4em;
  margin: 0.1em 0.5em 0 0.5em;
}

.progress-bar {
  background-color: #abacac;
  height: 100%;
}

.progress-bar-progress {
  @include linear-gradient(to right, $feature_gradient_dark, $feature_gradient_light);
  height: 100%;
  position: relative;
}

.progress-marker {
  background-color: $green;
  color: white;
  padding: 0.4em;
  width: 5em;
  font-size: 0.7em;
  position: absolute;
  text-align: center;
  top: -2.5em;
  right: -2.5em;

  &:after {
    content: '';
    position: absolute;
    top: 1.75em;
    left: 2.25em;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.7em solid $green;
  }
}

.progress-bar-limit {
  font-size: 0.6em;
  color: $dark_grey;
}
