.with-flex-box {
  @include display(flex);
  @include flex-wrap(wrap);
}

.spinner {
    padding: 1rem;
    margin: 3rem auto;
    width: 100%;
    height: 64px;
    background-image: url("/images/spinner.svg");
    background-position: top center;
    background-repeat: no-repeat;
}

.input-spinner {
    background-image: url("/images/spinner.svg");
    background-position: top center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.clear-fix {
    @include clearfix
}