/* Shorthand   Description
   m           Margin
   p           Padding

   t           Top
   r           Right
   b           Bottom
   l           Left
   x           X-axis (left and right)
   y           Y-axis (top and bottom)

   xn          X-axis Negative (margin only)
               (combine `.mxn-s > px-s` for gutters)

   -0          0
   -s          .5rem
   -m          1rem
   -l          2rem
   -xl         4rem
*/

.m-0  { margin:        0 }
.mt-0 { margin-top:    0 }
.mr-0 { margin-right:  0 }
.mb-0 { margin-bottom: 0 }
.ml-0 { margin-left:   0 }
.mx-0 { margin-left:   0; margin-right:  0; }
.my-0 { margin-top:    0; margin-bottom: 0; }

.m-s    { margin:        0.5rem }
.mt-s   { margin-top:    0.5rem }
.mr-s   { margin-right:  0.5rem }
.mb-s   { margin-bottom: 0.5rem }
.ml-s   { margin-left:   0.5rem }
.mx-s   { margin-left:   0.5rem; margin-right:  0.5rem; }
.my-s   { margin-top:    0.5rem; margin-bottom: 0.5rem; }

.m-m   { margin:        1rem }
.mt-m  { margin-top:    1rem }
.mr-m  { margin-right:  1rem }
.mb-m  { margin-bottom: 1rem }
.ml-m  { margin-left:   1rem }
.mx-m  { margin-left:   1rem; margin-right:  1rem; }
.my-m  { margin-top:    1rem; margin-bottom: 1rem; }

.m-l   { margin:        2rem }
.mt-l  { margin-top:    2rem }
.mr-l  { margin-right:  2rem }
.mb-l  { margin-bottom: 2rem }
.ml-l  { margin-left:   2rem }
.mx-l  { margin-left:   2rem; margin-right:  2rem; }
.my-l  { margin-top:    2rem; margin-bottom: 2rem; }

.m-xl  { margin:        4rem }
.mt-xl { margin-top:    4rem }
.mr-xl { margin-right:  4rem }
.mb-xl { margin-bottom: 4rem }
.ml-xl { margin-left:   4rem }
.mx-xl { margin-left:   4rem; margin-right:  4rem; }
.my-xl { margin-top:    4rem; margin-bottom: 4rem; }

.mxn-s  { margin-left: -0.5rem; margin-right: -0.5rem; }
.mxn-m  { margin-left: -1rem;   margin-right: -1rem; }
.mxn-l  { margin-left: -2rem;   margin-right: -2rem; }
.mxn-xl { margin-left: -4rem;   margin-right: -4rem; }

.mx-auto { margin-left: auto; margin-right: auto; }

.p-0 { padding: 0 }

.p-s  { padding:       0.5rem }
.py-s { padding-top:   0.5rem; padding-bottom: 0.5rem }
.px-s { padding-left:  0.5rem; padding-right:  0.5rem }

.p-m  { padding:       1rem }
.py-m { padding-top:   1rem; padding-bottom: 1rem }
.px-m { padding-left:  1rem; padding-right:  1rem }

.p-l  { padding:       2rem }
.py-l { padding-top:   2rem; padding-bottom: 2rem }
.px-l { padding-left:  2rem; padding-right:  2rem }

.p-xl  { padding:       4rem }
.py-xl { padding-top:   4rem; padding-bottom: 4rem }
.px-xl { padding-left:  4rem; padding-right:  4rem }
