/* The CSS for the app */

@import 'normalize.css';
@import 'custom-basic.css';

/* Optional Modules (not included in Basscss by default) that must be able to be overridden by basscss core */

@import 'custom-btn.css'; /* Borrowed from basscss-addons/modules/btn */
@import 'custom-btn-primary.css';
@import 'custom-btn-outline.css';
@import 'custom-btn-sizes.css';
/* @import 'basscss-addons/modules/forms'; */
/* Would like to use this, but .input interferes with existing forms */
@import 'custom-forms.css';

/* Basscss Core */

@import 'custom-type-scale.css';
@import 'basscss-typography';
@import 'custom-typography.css';
@import 'basscss-layout';
@import 'custom-layout.css';
@import 'basscss-align';
@import 'basscss-margin';
@import 'custom-margin.css';
@import 'basscss-padding';
@import 'custom-padding.css';
@import 'basscss-grid/lib/grid.css';
@import 'custom-grid.css'; /* responsive helpers preferred over basscss-grid/lib/*-grid.css */
@import 'basscss-flexbox';
@import 'custom-flexbox.css';
@import 'basscss-position';
@import 'custom-position.css';
@import 'basscss-border';
@import 'custom-border.css';
/* @import 'basscss-hide'; */ /* deprecated in favor of custom names */
@import 'custom-hide.css';

/* Optional Modules (extensions to Basscss Core) */

@import 'custom-responsive-margin.css';
@import 'custom-responsive-padding.css';
@import 'basscss-addons/modules/colors';
@import 'custom-colors.css';
@import 'basscss-addons/modules/background-colors';
@import 'custom-background-colors.css';
@import 'basscss-addons/modules/border-colors';
@import 'custom-border-colors.css';
@import 'basscss-addons/modules/darken';
@import 'custom-darken.css';
@import 'basscss-addons/modules/lighten';
@import 'custom-lighten.css';
@import 'custom-svg-colors.css';
@import 'custom-interaction.css';

/* basscss-addons hasn't released the latest version, so import directly from NPM */
/* @import 'basscss-addons/modules/background-images'; */
@import 'basscss-background-images';
@import 'custom-background-images.css';
@import 'custom-tooltip.css';

/* More from v8 */
/*
@import 'basscss-addons/modules/media-object';  flexbox based media-object... for basic cases use .overflow-hidden
@import 'basscss-addons/modules/all';
@import 'basscss-addons/modules/input-range';
@import 'basscss-addons/modules/progress';
*/

/* From basscss v7 */

@import 'basscss-ui-utility-groups';

/* Carousel */

@import 'tinyslider.css';
@import 'custom-carousel.css';

/* Third-party Overrides */

@import 'custom-uploadcare.css';
@import 'custom-yotpo.css';
@import 'maps-suggestions.css';

/* Custom media queries */

/* WARNING: We try not to use these, but basscss needs them.
 * Better to use the breakpoints defined below.
 * Also, bascss uses em's for breakpoints, which is a cute idea, but doesn't play nice
 * with how our fonts change size at different screen widths. Use px instead: */
@custom-media --breakpoint-sm (max-width: 0px);
@custom-media --breakpoint-md (max-width: 0px);
@custom-media --breakpoint-lg (max-width: 0px);

/* Responsive breakpoints:

                  750px      1000px
           on-mb    | on-tb-dt
           on-mb    | on-tb    | on-dt
                      on-mb-tb | on-dt

*/

@custom-media --on-mobile             (max-width: 749px);
@custom-media --on-tablet             (min-width: 750px) and (max-width: 999px);
@custom-media --on-desktop            (min-width: 1000px);
@custom-media --on-mobile-and-tablet  (max-width: 999px);
@custom-media --on-tablet-and-desktop (min-width: 750px);

/* Screen Densities */
@custom-media --xhdpi (only screen) and (-webkit-min-device-pixel-ratio: 2);
@custom-media --xxhdpi (only screen) and (-webkit-min-device-pixel-ratio: 3);

/* Custom variables */

:root {
    --font-family-proxima: 'Proxima Nova', Arial, sans-serif;

    --serif: serif;
    --sans-serif: var(--font-family-proxima);

    --font-family: var(--sans-serif);

    --font-weight: var(--light-font-weight); /* Not medium... by default, we use lightest font */

    --light-font-weight:  300;
    --medium-font-weight: 400;
    --bold-font-weight:   700;

    --button-line-height: 1.2;
    --button-background-color: var(--p-color);
    --button-font-weight: var(--medium-font-weight);
    --button-padding-y: var(--space-2);
    --button-padding-x: var(--space-2);
    --button-border-radius: 27px;

    --border-radius: 5px;
    --border-radius-1: 8px;

    --aqua:        #49bbf0;

    --facebook-blue: #3b5998;
    --twitter-blue:  #00aced;
    --sms-green:     #1fcc23;

    /* THESE ARE OUR NEW COLORS */
    --p-color:        #4427c1;
    --s-color:        #6bc8ad;
    --red:            #f94941;
    --paypal:         #49bbf0;
    --pale-purple:    #dedbe5;
    --white:          #ffffff;
    --gray:           #cccccc;
    --refresh-gray:   #f5f5f5;
    --cool-gray:      #eeefef;
    --warm-gray:      #ece6e2;
    --black:          #000000;
    --warning-yellow: #EDC203;

    --s-color-transparent:  rgba(107, 200, 173, 0.20);

    --lighten-1: rgba(255, 255, 255, .125);
    --lighten-2: rgba(255, 255, 255, .375);
    --lighten-3: rgba(255, 255, 255, .625);
    --lighten-4: rgba(255, 255, 255, .875);
    --lighten-5: rgba(255, 255, 255, .925);

    --darken-1: rgba(0, 0, 0, .075);
    --darken-2: rgba(0, 0, 0, .225);
    --darken-3: rgba(0, 0, 0, .375);
    --darken-4: rgba(0, 0, 0, .625);
    --darken-5: rgba(0, 0, 0, .875);

    --line-height-1: 1;

    --space-1: 5px;
    --space-2: 10px;
    --space-3: 15px;
    --space-4: 20px;
    --space-5: 25px;
    --space-6: 30px;
    --space-7: 35px;
    --space-8: 40px;
    --space-10: 50px;

    --caps-letter-spacing: 0.1em;

    --floating-label--input-text-height: 23px; /* height, not including padding */
    --floating-label--input-padding-x: 10px;
    --floating-label--input-padding-y: 10px;
    --floating-label--input-label-padding-y: 3px;
}

