/* Basscss Btn Outline */

.btn-outline {
  border-color: currentcolor;
  border-radius: var(--button-border-radius);
}

.btn-outline.is-active,
.btn-outline:active {
  /* override default from basscss: match :focus outline, instead of having an inset */
  box-shadow: 0 0 0 3px var(--darken-3);
}


.btn-outline:disabled,
.btn-outline.is-disabled {
    background-color: var(--silver);
    color: var(--light-gray);
}

:root {
  --button-border-radius: 27px;

  --silver: #EBEBEB;
  --light-gray: #B4B4B4;
  --teal: #40cbac;
  --darken-1: rgba(0, 0, 0, .075);
  --darken-3: rgba(0, 0, 0, .375);
}
