@media (--on-mobile) {
    .carousel-2022 {
        display: flex;
        gap: 0.5rem;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
    }

    .carousel-2022 > .exhibit {
        width: 90%;
        scroll-snap-align: center;
        flex-shrink: 0;
    }

    .carousel-2022 > .exhibit .contents {
        object-fit: cover;
    }

    .carousel-2022 > .spacer {
        min-width: calc(5% - 0.5rem);
    }
}

@media (--on-tablet-and-desktop) {
    .carousel-2022 {
        display: grid;
        grid-template-columns: 7fr 1fr;
        column-gap: 0.5rem;
    }

    .carousel-2022 > .exhibits {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 0.5rem;
        scroll-snap-type: x mandatory;
        /* max-height here restrains the exhibits column from expanding the carousel container. It's
           not actually going to display at 0 height, as the grid asks the exhibits column for as
           much vertical content as the exhibits div will give it (given that the row is taller than
           its contents), the exhibits div just won't ask for more height than is called for by its
           grid row. */
        max-height: 0;
    }

    .carousel-2022 > .exhibits > .exhibit {
        scroll-snap-align: start;
    }

    .carousel-2022 > .exhibits > .exhibit .contents {
        object-fit: cover;
    }
}
