/* We want h00 to be 64px on small screens. But to have it grow on large screens
 * we need to specify it in rems. 5.25rem is 63px... close enough. */

.h00 { font-size: 5.25rem; }
.h0 { font-size: 3rem; }

.f1 { font-size: 40px; }
.f2 { font-size: 24px; }
.f3 { font-size: 18px; }
.f4 { font-size: 14px; }
.f5 { font-size: 12px; }
.f6 { font-size: 9px; }
