/* Basscss Btn Outline */

.btn-outline {
  border-color: currentcolor;
  border-radius: var(--button-border-radius);
}

.btn-outline.is-active,
.btn-outline:active {
  /* override default from basscss: match :focus outline, instead of having an inset */
  box-shadow: 0 0 0 3px var(--darken-3);
}


.btn-outline:disabled,
.btn-outline.is-disabled {
    background-color: var(--cool-gray);
    color: var(--gray);
}

:root {
  --button-border-radius: 50px;

  --gray:       #cccccc;
  --cool-gray:  #EEEFEF;
  --darken-1: rgba(0, 0, 0, .075);
  --darken-3: rgba(0, 0, 0, .375);
}
