@media (--on-tablet) {
    .flex-on-tb { display: flex }
}

@media (--on-tablet-and-desktop) {
    .flex-on-tb-dt { display: flex }
}

@media (--on-desktop) {
    .flex-on-dt { display: flex }
}
@custom-media --on-tablet             (min-width: 750px) and (max-width: 999px);
@custom-media --on-tablet-and-desktop (min-width: 750px);
@custom-media --on-desktop            (min-width: 1000px);

.flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-grow-4 { flex-grow: 4; }
.flex-grow-5 { flex-grow: 5; }
