* { box-sizing: border-box; }

html {
  background-color: var(--white);
  background-size: 47px 51px;
  font-weight: var(--font-weight);
}

@media only screen and (max-resolution: 200dpi) {
    html {
        -webkit-font-smoothing: antialiased;
    }
}

body {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: var(--heading-margin-top);
  margin-bottom: var(--heading-margin-bottom);
}

p {
  margin-top: var(--paragraph-margin-top);
  margin-bottom: var(--paragraph-margin-bottom);
}

dl, ol, ul {
  margin-top: var(--list-margin-top);
  margin-bottom: var(--list-margin-bottom);
}

a {
  text-decoration: none;
}

@custom-media --on-tablet-and-desktop (min-width: 750px);

:root {
    --sans-serif: 'Proxima Nova', Arial, sans-serif;

    --font-family: var(--sans-serif);
    --heading-margin-top: 0;
    --heading-margin-bottom: 0;

    --paragraph-margin-top: 0;
    --paragraph-margin-bottom: 0;

    --white:        #FFFFFF;

    --list-margin-top: 0;
    --list-margin-bottom: 0;

    --serif: serif;

    --font-weight: 400;
    --bold-font-weight: 600;
}
