.floating-label--label {
  position: relative;
  top: 1em;
  left: 1em;
  display: none;
}

.floating-label--label.has-value {
  display: block;
}

.floating-label--input {
  padding: 1em 0.5em;
}

.floating-label--input.has-value {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

.glow-green:focus {
   outline-color: var(--green);
}

.glow-orange:focus {
   outline-color: var(--orange);
}

:root {
  --green:  #40CBAC;
  --orange: #e8a50c;
}
