.stroke-aqua   { stroke: var(--aqua); }

.fill-twitter-blue { fill: var(--twitter-blue); }
.fill-aqua         { fill: var(--aqua); }
.fill-none         { fill: none; }

.stroke-gray           { stroke: var(--gray); }

.fill-gray             { fill: var(--gray); }

/* NEW COLORS */
.stroke-p-color { stroke: var(--p-color); }
.stroke-s-color { stroke: var(--s-color); }
.stroke-white   { stroke: var(--white); }
.stroke-black   { stroke: var(--black); }

.fill-p-color   { fill: var(--p-color); }
.fill-s-color   { fill: var(--s-color); }
.fill-white     { fill: var(--white); }
.fill-dark-gray { fill: var(--gray); }
.fill-black     { fill: var(--black); }

:root { /* Compare to app.css :( */
  --twitter-blue:   #00aced;
  --aqua:         #49BBF0;


  /* THESE ARE OUR NEW COLORS */
  --p-color:     #4427c1;
  --s-color:     #6bc8ad;
  --red:         #f94941;
  --paypal:      #49bbf0;
  --pale-purple: #dedbe5;
  --white:       #ffffff;
  --gray:        #cccccc;
  --refresh-gray #f5f5f5;
  --dark-gray:   #979797;
  --cool-gray:   #eeefef;
  --black:       #000000;
}
