/* Basscss Btn Primary */

.btn-primary {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: var(--button-border-radius);
}

.btn-primary.is-hover,
.btn-primary:hover
{
    box-shadow: inset 0 0 0 20rem var(--darken-1);
}

.btn-primary-teal-hover.btn-primary.is-hover, .btn-primary-teal-hover.btn-primary:hover {
    background-color: var(--hover-only-teal-gray);
}

.btn-primary.is-active,
.btn-primary:active {
    /* override default from basscss: match :focus outline, instead of having an inset */
    box-shadow: 0 0 0 3px var(--darken-3);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
    background-color: var(--light-gray);
}

:root {
  --blue:                 #0074d9;
  --silver:               #ebebeb;
  --light-gray:           #b4b4b4;
  --hover-only-teal-gray: #e5eeec;

  --darken-1: rgba(0, 0, 0, .075);
  --darken-3: rgba(0, 0, 0, .375);

  --button-color: #fff;
  --button-background-color: var(--blue);
  --button-border-radius: 27px;
}
