@import 'basscss-typography';
@import 'custom-typography.css';
@import 'basscss-margin';
@import 'custom-margin.css';
@import 'basscss-padding';
@import 'custom-padding.css';
@import 'basscss-border';
@import 'custom-border.css';
@import 'basscss-addons/modules/colors';
@import 'custom-colors.css';
@import 'basscss-addons/modules/border-colors';
@import 'custom-border-colors.css';

.content-markdown a:link {
	@inherit: .p-color, .button-font-2, .border-bottom, .border-width-2, .border-p-color;
}
.content-markdown {
    font: 13px/18px var(--font-family-proxima);
    line-height: 26px;
}
.content-markdown ul, .content-markdown ol { @inherit: .mb2, .content-2; }
.content-markdown p { @inherit: .content-2, .mb2; }
.content-markdown li { @inherit: .content-2, .my1; }
.content-markdown h1 { @inherit: .title-2.canela, .my3; }
.content-markdown h2 { @inherit: .title-2.canela, .my3; }
.content-markdown h3 { @inherit: .title-3.canela, .my3; }
.content-markdown b { @inherit: .bold; }
.content-markdown table {
	border-collapse: collapse;
	table-layout: fixed;
	margin: 10px 0;
	width: 100%;
	border: 2px solid var(--gray-mask);
}
.content-markdown table tr {
	border-bottom: 1px solid var(--cool-gray);
}
.content-markdown table th {
	@inherit: .content-3, .p1, .bold;
	background: var(--cool-gray);
}
.content-markdown table td:first-child {
	border-left: 0;
}
.content-markdown table td {
	@inherit: .p1;
	border-left: 1px solid var(--cool-gray);
	margin: 0;
	vertical-align: top;
}

:root {
    --gray-mask: rgba(204, 204, 204, 0.1);
    --cool-gray: #eeefef;
    --medium-font-weight: 400;
    --font-weight: var(--medium-font-weight);
    --font-family-proxima: 'Proxima Nova', Arial, sans-serif;
}

@media (--on-mobile) {
    .tiles-1 {
        grid-template-columns: 1fr;
    }
    .tiles-2 {
        grid-template-columns: 1fr 1fr;
    }
    .tiles-3 {
        grid-template-columns: 1fr;
    }
    .tiles-4 {
        grid-template-columns: 1fr 1fr;
    }
    .tiles-more {
        grid-template-columns: 1fr 1fr;
    }
}

@media (--on-tablet-and-desktop) {
    .tiles-1 {
        grid-template-columns: 1fr;
    }
    .tiles-2 {
        grid-template-columns: 1fr 1fr;
    }
    .tiles-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tiles-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .tiles-more {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.columns-1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
}
.columns-2 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.columns-3 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.columns-4 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.columns-6 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.columns-12 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


@media (--on-tablet-and-desktop) {
    .columns-1-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
    }
    .columns-2-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .columns-3-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .columns-4-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .columns-6-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .columns-12-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}


.sections-grid-1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
}
.sections-grid-2 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.sections-grid-3 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.sections-grid-4 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.sections-grid-6 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.sections-grid-12 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


@media (--on-tablet-and-desktop) {
    .sections-grid-1-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
    }
    .sections-grid-2-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .sections-grid-3-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .sections-grid-4-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .sections-grid-6-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .sections-grid-12-on-tb-dt {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
