.pointer { cursor: pointer; }
.cursor-not-allowed { cursor: not-allowed; }

.transition-ease        { transition-timing-function: ease; }
.transition-ease-in     { transition-timing-function: ease-in; }
.transition-ease-in-out { transition-timing-function: ease-in-out; }
.transition-1           { transition-duration: 0.25s; }
.transition-2           { transition-duration: 0.5s; }
.transition-3           { transition-duration: 1s; }
.transition-4           { transition-duration: 2s; }

.commission-order                                                      { max-height: 35rem; }
.commission-order.commission-order-enter                               { max-height: 0px; }
.commission-order.commission-order-enter.commission-order-enter-active { max-height: 35rem; }
.commission-order.commission-order-leave                               { max-height: 35rem; }
.commission-order.commission-order-leave.commission-order-leave-active { max-height: 0px; }

.transparent { opacity: 0; }
.opaque      { opacity: 1; }

.hoverable:hover .show-on-hover { display: block; }
.hoverable .show-on-hover { display: none; }

.hover-menu-item:hover > span {
    margin-left: 10px;
    color: var(--p-color);
    margin-right: -10px;
}

@keyframes lineItemGlow {
    25% {
        background-color: var(--s-color);
        color: var(--cool-gray);
    }
}

.slide-down-enter {
    opacity: 0;
}
.slide-down-enter.slide-down-enter-active {
    opacity: 1;
    transition: all 300ms 0ms ease-in-out;
}

.cool-gray-hover:hover {
    background-color: var(--cool-gray);
}

.picker-enter, .picker-exit.picker-exit-active {
    top: 100%;
}

.picker-leave, .picker-enter.picker-enter-active {
    top: 0;
}

.picker-enter.picker-enter-active {
    transition: top 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.picker-exit.picker-exit-active {
    transition: top 0.25s cubic-bezier(0.5, 0, 0.75, 0);
}

.hide-scroll-bar::-webkit-scrollbar {display: none;}

video.hide-chromecast-icon::-internal-media-controls-overlay-cast-button {
    display: none;
}

:root {
    --p-color:   #4427c1;
    --s-color:   #6bc8ad;
    --cool-gray: #EEEFEF;
}

.fade-in {
    animation: fadeInAnimation 0.2s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.slide-up {
    animation: slideUp 1s ease;
    visibility: visible;
    bottom: 0%;
    /* animation-iteration-count: 1; */
    /* animation-fill-mode: forwards; */
}

@keyframes slideUp {
    0% {
        visibility: hidden;
        bottom: -50%;
    }
    100% {
        bottom: 0%;
        visibility: visible;
    }
}


.slide-down {
    animation: slideDown 1s ease;
    visibility: hidden;
    bottom: -50%;
    /* animation-iteration-count: 1; */
    /* animation-fill-mode: forwards; */
}

@keyframes slideDown {
    0% {
        visibility: visible;
        bottom: 0%;
    }
    100% {
        bottom: -50%;
        visibility: hidden;
    }
}

.spin-y{
    -webkit-animation: spin linear 1.44s infinite;
    animation: spin linear 1.44s infinite;
}

@-webkit-keyframes spin{
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(180deg);}
}

@keyframes spin{
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltip .tooltip-right {
    min-width:140px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -60%);
    padding:14px;
    color: black;
    background-color: white;
    font-weight:normal;
    position:absolute;
    z-index:99;
    box-sizing:border-box;
    box-shadow:0 1px 6px rgba(0,0,0,0.5);
    display:none;
}

.tooltip:hover .tooltip-right {
    display:block;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    overflow:hidden;
}

.tooltip .tooltip-right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:-6%;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color: white;
    z-index:90;
}
