@media (--on-mobile) {
    .carousel-2022 {
        display: flex;
        gap: 0.5rem;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .carousel-2022 > .exhibit {
        width: 90%;
        scroll-snap-align: center;
        flex-shrink: 0;
    }

    .carousel-2022 > .exhibit .contents {
        object-fit: cover;
    }

    .carousel-2022 > .spacer {
        min-width: calc(5% - 0.5rem);
    }
}

@media (--on-tablet-and-desktop) {
    .carousel-2022 {
        display: grid;
        grid-template-columns: 6fr 1fr;
    }

    .carousel-2022 > .selected-exhibit {
        aspect-ratio: 3 / 4;
    }

    .carousel-2022 > .exhibits {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;
        scroll-snap-type: x mandatory;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .carousel-2022 > .exhibits > .exhibit {
        scroll-snap-align: start;
    }

    .carousel-2022 > .exhibits > .exhibit > * > * {
        aspect-ratio: 3 / 4;
        height: 100%;
    }
    .carousel-2022 > .exhibits > .exhibit .contents {
        object-fit: cover;
    }

    .carousel-2022 > .exhibits > .spacer {
        /* min-width: calc(5% - 0.5rem); */
    }
}
