/* Inspired by Basscss Btn */

/* TODO: Do we use/need this class and its overrides? */
.btn {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  line-height: var(--button-line-height);
  padding: var(--button-padding-y) var(--button-padding-x);
  height: auto;
  border: var(--border-width) solid transparent;
  border-radius: var(--button-border-radius);
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0.5);
  user-select: none;
}

.btn.is-hover,
.btn:hover {
  text-decoration: none;
}

.btn.is-focus,
.btn:focus {
  outline: none;
  border-color: var(--darken-1);
  box-shadow: 0 0 0 3px var(--darken-3);
}

.btn-large, .btn-medium, .btn-small {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: block;
}

.btn-large {
    border-image-slice: 21 fill;
    border-image-width: 21px;
    padding: 26px;
    border-image-repeat: stretch;
}

.btn-medium {
	  border-image-slice: 15 fill;
    border-image-width: 15px;
    padding: 15px;
    border-image-repeat: stretch;
}

.btn-small {
    padding: 10px;
}

.btn-pill {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border-width) solid var(--gray);
    border-left-style: none;
}

.btn-p-color            { color: var(--white); }
.btn-p-color.btn-large  { border-image-source: svg-load(var(--oct-button-large-svg), fill=var(--p-color), stroke=none); }
.btn-p-color.btn-medium { border-image-source: svg-load(var(--oct-button-medium-svg), fill=var(--p-color), stroke=none); }
.btn-p-color.btn-small  { background-color: var(--p-color); }

.btn-outline            { color: var(--p-color); }
.btn-outline.btn-large  { border-image-source: svg-load(var(--oct-button-large-svg), fill=var(--white), stroke=var(--s-color), vector-effect="non-scaling-stroke"); }
.btn-outline.btn-medium { border-image-source: svg-load(var(--oct-button-medium-svg), fill=var(--white), stroke=var(--s-color), vector-effect="non-scaling-stroke"); }
.btn-outline.btn-small  { border: solid 1px var(--s-color); }

.btn-paypal-color           { color: var(--white); }
.btn-paypal-color.btn-large { border-image-source: svg-load(var(--oct-button-large-svg), fill=var(--paypal), stroke=none); }

.btn-facebook-blue           { color: var(--white); 
.btn-facebook-blue.btn-large { border-image-source: svg-load(var(--oct-button-large-svg), fill=var(--facebook-blue), stroke=none); }
.btn-facebook-blue.btn-medium { border-image-source: svg-load(var(--oct-button-medium-svg), fill=var(--facebook-blue), stroke=none); }

.btn-s-color { color: var(--white); background-color: var(--s-color); }

/* Ordering matters here.  Gray has to beat the others. */
.btn-gray            { color: var(--gray); }
.btn-gray.btn-large  { border-image-source: svg-load(var(--oct-button-large-svg), fill=var(--cool-gray), stroke=none); }
.btn-gray.btn-medium { border-image-source: svg-load(var(--oct-button-medium-svg), fill=var(--cool-gray), stroke=none); }
.btn-gray.btn-small  { background-color: var(--cool-gray); border-style: none; }
.btn-gray.btn-pill   { background-color: var(--cool-gray); }

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:root {
  --border-width: 1.5px;
  --bold-font-weight: bold;
  --button-font-family: inherit;
  --button-font-size: inherit;
  --button-font-weight: var(--bold-font-weight);
  --button-line-height: 1.125rem;
  --button-letter-spacing: 0;
  --button-padding-y: 1rem;
  --button-padding-x: 1rem;
  --button-border-radius: 50px;

  --oct-button-large-svg: '../public/images/oct_button_large.svg';
  --oct-button-medium-svg: '../public/images/oct_button_medium.svg';

  --darken-1:      rgba(0, 0, 0, .075);
  --darken-3:      rgba(0, 0, 0, .375);
  --p-color:       #4427C1;
  --s-color:       #6bc8ad;
  --cool-gray:     #eeefef;
  --paypal:        #49bbf0;
  --facebook-blue: #3b5998;
  --gray:          #cccccc;
  --white:         #ffffff;
}
