.border-white         { border-color: var(--white); }
.border-gray          { border-color: var(--gray); }
.border-black         { border-color: var(--black); }

.border-p-color   { border-color: var(--p-color); }
.border-cool-gray { border-color: var(--cool-gray); }

.debug * { outline: 1px solid gold; }

:root {
  --white:         #ffffff;
  --gray:          #B9B9B9;
  --black:         #000000;
  --error:         #ff004f;

  --p-color:   #4427c1;
  --cool-gray: #eeefef;
}
