/* Taken from slick.css */

.faded-inactive-slides-carousel .slick-slide {
    opacity: 0.40;
    transition-duration: 0.5s;
}

.faded-inactive-slides-carousel .slick-center {
    opacity: 1;
    transition-duration: 0.5s;
}

.slick-slider {
   margin-bottom: 0;
}

.carousel-dots {
    position: absolute;
    bottom: 0.75rem;
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 0;
    width: 100%;
}
.carousel-dots li {
    position: relative;
    display: inline-block;
    margin: 0;
}
.carousel-dots li a {
    background: transparent;
    display: block;
    outline: none;
    padding: 5px;
    cursor: pointer;
}
.carousel-dots li a div {
    background-color: var(--white);
    font-size: 0;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid var(--dark-gray);
    opacity: 0.623529;
}
.carousel-dots li.slick-active a div {
    background-color: var(--gray);
    opacity: 1;
}
.carousel-dots li a:hover div,
.carousel-dots li a:focus div {
    outline: none;
}
.carousel-dots li a:hover:before div,
.carousel-dots li a:focus:before div {
    opacity: 1;
}

/* Carousel Arrows */

.slick-prev { left: 0; z-index: 2; }
.slick-next { right: 0; }
.slick-next, .slick-prev { margin-top: -25px; }
.slick-arrow {
    height: 50px;
    width: 50px;
}

.slick-prev, .slick-next, .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus  {
    background-image: url("/images/icons/carousel-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.slick-prev:before,
.slick-next:before {
    color: var(--dark-gray);
    font-family: sans-serif;
    content: "";
}
.slick-prev {
    transform: rotate(180deg);
}

.slick-disabled {
    visibility: hidden;
}

:root {
    --white:        #FFFFFF;
    --gray:         #666666;
    --dark-gray:    #333333;
}
