/* Basscss UI Utility Groups */

.x-group-item-2               { margin-left: -2px; }
.x-group-item-2:first-of-type { margin-left: 0 }

.y-group-item-2               { margin-top: -2px; }
.y-group-item-2:first-of-type { margin-top: 0 }

.x-group-item-2:focus,
.y-group-item-2:focus {
  position: relative;
  z-index: 1;
}

:root {
  --border-width: 1px;
}
