/* Basscss Btn Primary */

.btn-primary {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: var(--button-border-radius);
}

.btn-primary.is-active,
.btn-primary:active {
    /* override default from basscss: match :focus outline, instead of having an inset */
    box-shadow: 0 0 0 3px var(--darken-3);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
    color: var(--gray);
    background-color: var(--cool-gray);
}

:root {
  --p-color:              #4427c1;
  --gray:                 #B9B9B9;
  --cool-gray:            #eeefef;

  --darken-1: rgba(0, 0, 0, .075);
  --darken-3: rgba(0, 0, 0, .375);

  --button-color: #fff;
  --button-background-color: var(--p-color);
  --button-border-radius: 27px;
}
