.overlay { top: 0; right: 0; bottom: 0; left: 0; }
.sticky { position: sticky; } /* only works in FF, Safari and mobile Safari */

.rotate-45 { transform: rotate(45deg); }

.translate-center {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
