.content-box { box-sizing: content-box; }

.container {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

@media (--on-tablet) {
  .max-960, .container { max-width: 720px; }
}

@media (--on-desktop) {
  .max-960, .container { max-width: 960px; }
}

.max-580 { max-width: 580px; }

@media (--over-max-580) {
    .max-580 {
        border-left: 1px var(--light-gray) solid;
        border-right: 1px var(--light-gray) solid;
    }
}

@custom-media --on-tablet  (min-width: 750px) and (max-width: 999px);
@custom-media --on-desktop (min-width: 1000px);
@custom-media --over-max-580 (min-width: 580px);

:root {
    --error:          #ff004f;
    --yellow:         #ffc520;
    --white:          #ffffff;
    --fate-white:     #f8f8f8;
    --light-silver:   #f2f2f2;
    --silver:         #dadada;
    --dark-silver:    #aaaaaa;
    --light-gray:     #b4b4b4;
    --gray:           #666666;
    --dark-gray:      #333333;
    --black:          #000000;
    --light-lavender: rgb(202, 182, 215);
    --lavender:       rgb(175, 159, 196);

    --p-color:     #4427c1;
    --s-color:     #6bc8ad;
    --red:         #f94941;
    --paypal:      #49bbf0;
    --pale-purple: #dedbe5;
    --white:       #ffffff;
    --cool-gray:   #eeefef;
    --black:       #000000;
}
