
/* TODO: Move this into it's own file */
.debug-template-slot:hover {
  position: relative;
  border-style: solid;
  border-width: 3px;
  border-color: blue;
  border-collapse: collapse;
}

.debug-template-slot:hover::after {
  content: attr(data-template-slot-slug);
  overflow: visible;
  visibility: visible;
  position: absolute;
  color: black;
  background: beige;
  /* margin: auto; */
  font-size: 0.75rem;
  left: 0;
  top: -1.4rem;
  white-space: nowrap;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}


.debug-template-slot:hover .template-slot-value {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  border-collapse: collapse;
}
