.pointer { cursor: pointer; }

.transition-ease        { transition-timing-function: ease; }
.transition-ease-in     { transition-timing-function: ease-in; }
.transition-ease-in-out { transition-timing-function: ease-in-out; }
.transition-1           { transition-duration: 0.25s; }
.transition-2           { transition-duration: 0.5s; }
.transition-3           { transition-duration: 1s; }
.transition-4           { transition-duration: 2s; }

.commission-order                                                      { max-height: 35rem; }
.commission-order.commission-order-enter                               { max-height: 0px; }
.commission-order.commission-order-enter.commission-order-enter-active { max-height: 35rem; }
.commission-order.commission-order-leave                               { max-height: 35rem; }
.commission-order.commission-order-leave.commission-order-leave-active { max-height: 0px; }

.transparent { opacity: 0; }
.opaque      { opacity: 1; }

.hoverable:hover .show-on-hover { display: block; }
.hoverable .show-on-hover { display: none; }

@keyframes lineItemGlow {
    25% {
        background-color: var(--s-color);
        color: var(--cool-gray);
    }
}

.background-fade {
    animation-name: lineItemGlow;
    animation-duration: 1300ms;
}

.slide-down-enter {
    opacity: 0;
}
.slide-down-enter.slide-down-enter-active {
    opacity: 1;
    transition: all 300ms 0ms ease-in-out;
}

.cool-gray-hover:hover {
    background-color: var(--cool-gray);
}

:root {
    --s-color:   #6bc8ad;
    --cool-gray: #EEEFEF;
}

.picker-enter, .picker-leave.picker-leave-active {
    top: 100%;
}

.picker-leave, .picker-enter.picker-enter-active {
    top: 0;
}

.picker-enter.picker-enter-active {
    transition: top 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.picker-leave.picker-leave-active {
    transition: top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

video.hide-chromecast-icon::-internal-media-controls-overlay-cast-button {
    display: none;
}
