@media (--on-mobile) {
  .p0-on-mb  { padding:        0 }
  .px0-on-mb { padding-left:   0; padding-right:  0 }
  .py0-on-mb { padding-top:    0; padding-bottom: 0 }

  .p1-on-mb  { padding:        var(--space-1) }
  .px1-on-mb { padding-left:   var(--space-1); padding-right:  var(--space-1) }
  .py1-on-mb { padding-top:    var(--space-1); padding-bottom: var(--space-1) }

  .p2-on-mb  { padding:        var(--space-2) }
  .px2-on-mb { padding-left:   var(--space-2); padding-right:  var(--space-2) }
  .py2-on-mb { padding-top:    var(--space-2); padding-bottom: var(--space-2) }

  .p3-on-mb  { padding:        var(--space-3) }
  .px3-on-mb { padding-left:   var(--space-3); padding-right:  var(--space-3) }
  .py3-on-mb { padding-top:    var(--space-3); padding-bottom: var(--space-3) }

  .p4-on-mb  { padding:        var(--space-4) }
  .px4-on-mb { padding-left:   var(--space-4); padding-right:  var(--space-4) }
  .py4-on-mb { padding-top:    var(--space-4); padding-bottom: var(--space-4) }

  .p5-on-mb  { padding:        var(--space-5) }
  .px5-on-mb { padding-left:   var(--space-5); padding-right:  var(--space-5) }
  .py5-on-mb { padding-top:    var(--space-5); padding-bottom: var(--space-5) }

  .p6-on-mb  { padding:        var(--space-6) }
  .px6-on-mb { padding-left:   var(--space-6); padding-right:  var(--space-6) }
  .py6-on-mb { padding-top:    var(--space-6); padding-bottom: var(--space-6) }

  .p8-on-mb  { padding:        var(--space-8) }
  .px8-on-mb { padding-left:   var(--space-8); padding-right:  var(--space-8) }
  .py8-on-mb { padding-top:    var(--space-8); padding-bottom: var(--space-8) }
}

@media (--on-tablet-and-desktop) {
  .p0-on-tb-dt  { padding:        0 }
  .px0-on-tb-dt { padding-left:   0; padding-right:  0 }
  .py0-on-tb-dt { padding-top:    0; padding-bottom: 0 }

  .p1-on-tb-dt  { padding:        var(--space-1) }
  .px1-on-tb-dt { padding-left:   var(--space-1); padding-right:  var(--space-1) }
  .py1-on-tb-dt { padding-top:    var(--space-1); padding-bottom: var(--space-1) }

  .p2-on-tb-dt  { padding:        var(--space-2) }
  .px2-on-tb-dt { padding-left:   var(--space-2); padding-right:  var(--space-2) }
  .py2-on-tb-dt { padding-top:    var(--space-2); padding-bottom: var(--space-2) }

  .p3-on-tb-dt  { padding:        var(--space-3) }
  .px3-on-tb-dt { padding-left:   var(--space-3); padding-right:  var(--space-3) }
  .py3-on-tb-dt { padding-top:    var(--space-3); padding-bottom: var(--space-3) }

  .p4-on-tb-dt  { padding:        var(--space-4) }
  .px4-on-tb-dt { padding-left:   var(--space-4); padding-right:  var(--space-4) }
  .py4-on-tb-dt { padding-top:    var(--space-4); padding-bottom: var(--space-4) }

  .p5-on-tb-dt  { padding:        var(--space-5) }
  .px5-on-tb-dt { padding-left:   var(--space-5); padding-right:  var(--space-5) }
  .py5-on-tb-dt { padding-top:    var(--space-5); padding-bottom: var(--space-5) }

  .p6-on-tb-dt  { padding:        var(--space-6) }
  .px6-on-tb-dt { padding-left:   var(--space-6); padding-right:  var(--space-6) }
  .py6-on-tb-dt { padding-top:    var(--space-6); padding-bottom: var(--space-6) }

  .p8-on-tb-dt  { padding:        var(--space-8) }
  .px8-on-tb-dt { padding-left:   var(--space-8); padding-right:  var(--space-8) }
  .py8-on-tb-dt { padding-top:    var(--space-8); padding-bottom: var(--space-8) }
}

@media (--on-desktop) {
  .p0-on-dt  { padding:        0 }
  .px0-on-dt { padding-left:   0; padding-right:  0 }
  .py0-on-dt { padding-top:    0; padding-bottom: 0 }

  .p1-on-dt  { padding:        var(--space-1) }
  .px1-on-dt { padding-left:   var(--space-1); padding-right:  var(--space-1) }
  .py1-on-dt { padding-top:    var(--space-1); padding-bottom: var(--space-1) }

  .p2-on-dt  { padding:        var(--space-2) }
  .px2-on-dt { padding-left:   var(--space-2); padding-right:  var(--space-2) }
  .py2-on-dt { padding-top:    var(--space-2); padding-bottom: var(--space-2) }

  .p3-on-dt  { padding:        var(--space-3) }
  .px3-on-dt { padding-left:   var(--space-3); padding-right:  var(--space-3) }
  .py3-on-dt { padding-top:    var(--space-3); padding-bottom: var(--space-3) }

  .p4-on-dt  { padding:        var(--space-4) }
  .px4-on-dt { padding-left:   var(--space-4); padding-right:  var(--space-4) }
  .py4-on-dt { padding-top:    var(--space-4); padding-bottom: var(--space-4) }

  .p5-on-dt  { padding:        var(--space-5) }
  .px5-on-dt { padding-left:   var(--space-5); padding-right:  var(--space-5) }
  .py5-on-dt { padding-top:    var(--space-5); padding-bottom: var(--space-5) }

  .p6-on-dt  { padding:        var(--space-6) }
  .px6-on-dt { padding-left:   var(--space-6); padding-right:  var(--space-6) }
  .py6-on-dt { padding-top:    var(--space-6); padding-bottom: var(--space-6) }

  .p8-on-dt  { padding:        var(--space-8) }
  .px8-on-dt { padding-left:   var(--space-8); padding-right:  var(--space-8) }
  .py8-on-dt { padding-top:    var(--space-8); padding-bottom: var(--space-8) }
}

@custom-media --on-mobile             (max-width: 749px);
@custom-media --on-tablet-and-desktop (min-width: 750px);
@custom-media --on-desktop            (min-width: 1000px);

:root {
    --space-1: .5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 4rem;
    --space-5: 8rem;
    --space-6: 16rem;
    --space-8: 64rem;
}
