@media (--on-mobile) {
    .carousel-2022 {
        display: flex;
        gap: 0.5rem;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
    }

    .carousel-2022 > .exhibit {
        width: 90%;
        scroll-snap-align: center;
        flex-shrink: 0;
    }

    .carousel-2022 > .exhibit .contents {
        object-fit: cover;
    }

    .carousel-2022 > .spacer {
        min-width: calc(5% - 0.5rem);
    }
}

@media (--on-tablet-and-desktop) {
    .carousel-2022 {
        display: grid;
        grid-template-columns: 7fr 1fr;
        column-gap: 0.5rem;
    }

    .carousel-2022 > .exhibits {
        row-gap: 0.5rem;
    }

    .carousel-2022 .exhibits .exhibit {
        scroll-snap-align: start;
    }

    .carousel-2022 > .exhibits > .exhibit .contents {
        object-fit: cover;
    }
}
