.border-white         { border-color: var(--white); }
.border-gray          { border-color: var(--gray); }
.border-black         { border-color: var(--black); }

.border-p-color        { border-color: var(--p-color); }
.border-s-color        { border-color: var(--s-color); }
.border-cool-gray      { border-color: var(--cool-gray); }
.border-pale-purple    { border-color: var(--pale-purple); }
.border-warning-yellow { border-color: var(--warning-yellow); }

.debug * { outline: 1px solid gold; }

:root {
  --white:          #FFFFFF;
  --gray:           #CCCCCC;
  --black:          #000000;
  --p-color:        #4427C1;
  --s-color:        #6BC8AD;
  --cool-gray:      #EEEFEF;
  --pale-purple:    #DEDBE5;
  --warning-yellow: #EDC203;
}
