@media (--on-tablet-and-desktop) {
    .wig-customization > .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (--on-mobile) {
    .wig-customization {
        text-align: center;
    }
}

.markdown ul li {
    line-height: 1.75;
}
