@media (--on-tablet-and-desktop) {
    .shop-these-looks-highlight {flex: 0 1 calc(50% - 0.25rem)}
    .shop-these-looks-lowlight  {flex: 0 1 calc(20% - 0.4rem)}
    .shop-these-looks           {flex-wrap: wrap;}
    .shop-these-looks-spacer    {display: none;}
}

@media (--on-mobile) {
    .shop-these-looks-entry {
        width: 90%;
        scroll-snap-align: center;
        flex-shrink: 0;
    }
    .shop-these-looks::-webkit-scrollbar {display: none;}
    .shop-these-looks {
        scroll-snap-type: x mandatory;
        overflow-x: auto;
    }
    .shop-these-looks-spacer {min-width: 400px;}
}
