.uploadcare-dialog-tab,
.uploadcare-dialog-tabs,
.uploadcare-dialog-panel {
    background: transparent;
    border: 0;
}

.uploadcare-dialog-panel :focus {
    outline: inherit;
}

.uploadcare-dialog-panel {
    padding-left: 0;
    margin: 0 20px 20px;
}

.uploadcare-dialog-tabs {
    float: none;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-left: 0;
    display: flex;
    justify-content: center;
}
.uploadcare-dialog-tab {
    width: 50px;
    margin: 0 10px 10px 0;
    float: left;
}
.uploadcare-dialog-tab:hover {
    background-color: var(--white);
}
.uploadcare-dialog-tab-file:before,
.uploadcare-dialog-tab-file:hover:before {
    background-image: url('/images/icons/filmstrip-icon.svg');
    background-size: 30px 30px;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.33;
}
.uploadcare-dialog-tab-file:hover:before {
    opacity: 0.66;
}
.uploadcare-dialog-tab-file.uploadcare-dialog-tab_current:before {
    opacity: 1;
}
.uploadcare-dialog-tabs-panel,
.uploadcare-dialog-source-base-wrap {
    padding: 0;
    margin: 0;
}
.uploadcare-dialog-file-or:not(.uploadcare-if-draganddrop),
.uploadcare-dialog-file-sources {
    display: none;
}

.uploadcare-dialog-big-button, .uploadcare-dialog-big-button:hover, .uploadcare-dialog-big-button:focus, .uploadcare-dialog-big-button:active, .big-button, .big-button:hover, .big-button:focus, .big-button:active {
    background: #4427c1;
    box-shadow: none;
    border: none;
    text-shadow: none;
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    line-height: var(--button-line-height);
    padding: var(--button-padding-y) var(--button-padding-x);
    border: var(--border-width) solid transparent;
    border-radius: var(--button-border-radius);
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0.5);
    user-select: none;
}

.source-instagram .big-button, .source-instagram .big-button:hover, .source-instagram .big-button:focus, .source-instagram .big-button:active {
    background: #5185a8;
}
.source-facebook .big-button, .source-facebook .big-button:hover, .source-facebook .big-button:focus, .source-facebook .big-button:active {
    background: var(--facebook-blue);
}

.uploadcare-dialog-title {
    text-align: center;
}

.uploadcare-dialog-tab-preview.uploadcare-dialog-tab_current .uploadcare-widget-circle--canvas {
    color: var(--primary);
}

.uploadcare-draganddrop .uploadcare-dialog-file-drop-area {
    /* Dotted border around drag-and-drop area. Though it's supported, we don't want to encourage drag-and-drop. Besides, the dotted border is ugly. */
    border: none;
}

.uploadcare-draganddrop .uploadcare-if-draganddrop {
    /* Copy that explains how to drag-and-drop. Again, hiding drag-and-drop, especially because it's not really possible on phones. */
    display: none;
}

.uploadcare-clouds-tip {
    /* Tries to tell users they will be able to use the native file dialog to access cloud storage and social networks. */
    display: none;
}

/* Tweaks to file upload footer */
.uploadcare-panel-footer {
    padding: 0 10px;
}

.uploadcare-panel-footer .uploadcare-dialog-button {
    float: none;
}

.uploadcare-panel-footer .uploadcare-dialog-button, .uploadcare-panel-footer .uploadcare-dialog-button-success {
    margin: 10px;
}

.uploadcare-dialog-footer {
    /* The uploadcare logo */
    display: none;
}

:root {
    --border-width: 1px;
    --button-border-radius: var(--border-radius);
    --border-radius: 2px;

    --primary: #4427c1;
    --white: #ffffff;
    --facebook-blue: #3b5998;

    --bold-font-weight: bold;
    --button-font-family: inherit;
    --button-font-size: inherit;
    --button-font-weight: var(--bold-font-weight);
    --button-line-height: 1.125rem;
    --button-letter-spacing: 0;
    --button-padding-y: 1rem;
    --button-padding-x: 1rem;
    --darken-1: rgba(0, 0, 0, .075);
    --darken-3: rgba(0, 0, 0, .375);
}
