.floating-label--label {
  position: relative;
  display: none;
  z-index: 3;
}

.floating-label--label.has-value {
  top: calc(var(--floating-label--input-padding-y) / 2 - var(--floating-label--input-label-padding-y));
  left: var(--floating-label--input-padding-x);
  display: block;
}

.floating-label--input {
  padding: var(--floating-label--input-padding-y) var(--floating-label--input-padding-x);
  height: calc(var(--floating-label--input-text-height) + var(--floating-label--input-padding-y) * 2);
}

select.floating-label--input.has-value {
  line-height: 1.8; /* select text can only be adjusted via line-height */
  padding-bottom: 0;
}

.floating-label--input.has-value {
  padding-top: calc(var(--floating-label--input-padding-y) * 1.5 - var(--floating-label--input-label-padding-y));
  padding-bottom: calc(var(--floating-label--input-padding-y) / 2 - var(--floating-label--input-label-padding-y));
}

.floating-label--icon { /* assumes 1.5rem x 1.5rem size */
  top: var(--floating-label--input-padding-y);
  right: var(--floating-label--input-padding-x);
}

.floating-label-height {
  height: calc(var(--floating-label--input-padding-y) * 2 + var(--floating-label--input-text-height) + 4px /* 1-px border, 1-px y-padding */);
}

select:focus,
.StripeElement--focus,
.glow {
  /* Start with spec, mostly for Firefox */
  outline: solid auto 2px;
  -moz-outline-radius: var(--border-radius);

  /* Reset offset, selects and inputs differ */
  outline-offset: 0px;

  /* Webkit has a nice glow ring */
  outline: -webkit-focus-ring-color auto 5px;

  /* z2 puts the glowing field above the field inset but below the error icon */
  z-index: 2;
  position: relative;
}


select:focus, .invisible-select {
    position: absolute;
}


.StripeElement--focus,
.glow {
  outline-offset: -3px;
}

select:focus {
  outline-offset: -1px;
}

select,
input[type=date] {
  appearance: none;
}

input:focus {
    outline: none;
}

:root {
  --red: #FF0000;

  --border-radius: 4px;

  --floating-label--input-text-height: 19px; /* height, not including padding */
  --floating-label--input-padding-x: 10px;
  --floating-label--input-padding-y: 12px;
  --floating-label--input-label-padding-y: 3px;
}
