/* Inspired by Basscss Btn */

.btn {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  line-height: var(--button-line-height);
  padding: var(--button-padding-y) var(--button-padding-x);
  height: auto;
  border: var(--border-width) solid transparent;
  border-radius: var(--button-border-radius);
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0.5);
  user-select: none;
}

.btn.is-hover,
.btn:hover {
  text-decoration: none;
}

.btn.is-focus,
.btn:focus {
  outline: none;
  border-color: var(--darken-1);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:root {
  --border-width: 1.5px;
  --bold-font-weight: bold;
  --button-font-family: inherit;
  --button-font-size: inherit;
  --button-font-weight: var(--bold-font-weight);
  --button-line-height: 1.125rem;
  --button-letter-spacing: 0;
  --button-padding-y: 1rem;
  --button-padding-x: 1rem;
  --button-border-radius: 50px;

  --darken-1: rgba(0, 0, 0, .075);
  --darken-3: rgba(0, 0, 0, .375);
}
