.bg-full { background-size: 100%; }

.img-receipt-icon      { background-image: url('/images/icons/receipt.png'); }
.img-no-chat-icon      { background-image: url('/images/icons/no-chat.png'); }
.img-coins-icon        { background-image: url('/images/icons/coins.png'); }
.img-share-icon        { background-image: url('/images/icons/share.png'); }
.img-shop-by-look-icon { background-image: url('/images/icons/shop-by-look@2x.png') }
.img-shop-by-bundle-deal-icon { background-image: url('/images/icons/icon-bundle-deals.png') }
.img-spinner           { background-image: url('/images/spinner.svg'); }
.img-large-spinner     { background-image: url('/images/large-spinner.svg'); }

.img-logo { background-image: url('/images/header_logo.svg'); }

.img-apple-pay { background-image: -webkit-named-image(apple-pay-logo-white); }

/*
Move to uploadcare???
*/

.leads-bg-hero-hair {
    background-image: url("/images/leads/hero-hair-texture-bg.jpg");
}
.bg-our-hair {
    background-image: url("/images/leads/our-hair.jpg");
    height: 315px;
}
.bg-30-off {
    background-image: url("/images/leads/30-off-bg.jpg");
}
.bg-stylist-kit {
    background-image: url("/images/leads/stylist-kit-bg.jpg");
}
.bg-first-sale {
    background-image: url("/images/leads/first-sale-bg.jpg");
}

.bg-storefront-our-hair {
    background-image: url("//ucarecdn.com/a38deee0-add3-4588-90fb-923158c90dbe/-/format/auto/ourhairvirginhair.png");
    height: 240px;
}

.bg-email-capture {
    background-image: url('//ucarecdn.com/173e14ac-e55b-49f2-89e6-793051979629/-/format/auto/emailmodalheroIMG.png');
}

@media (min-width: 750px) {
    .leads-bg-hero-hair {
        background-image: url("/images/leads/hero-hair-texture-bg-dsk.jpg");
    }
    .bg-our-hair {
        background-image: url("/images/leads/our-hair-dsk.jpg");
        height: 630px;
    }
    .bg-30-off {
        background-image: url("/images/leads/30-off-bg-dsk.jpg");
    }
    .bg-stylist-kit {
        background-image: url("/images/leads/stylist-kit-bg-dsk.jpg");
    }
    .bg-first-sale {
        background-image: url("/images/leads/first-sale-bg-dsk.jpg");
    }
    .bg-storefront-our-hair {
        background-image: url("//ucarecdn.com/70c53806-7dae-4537-a6b3-ef35dc7ea4f7/-/format/auto/ourhairvirginhair.png");
        height: 300px;
    }
}
