.bg-fb-blue                 { background-color: var(--facebook-blue); }
.bg-quadpay-blue            { background-color: var(--quadpay-blue); }
.bg-twitter-blue            { background-color: var(--twitter-blue); }
.bg-sms-green               { background-color: var(--sms-green); }
.bg-error                   { background-color: var(--light-red); }

.bg-white                  { background-color: var(--white); }
.bg-gray                   { background-color: var(--gray); }
.bg-dark-gray              { background-color: var(--dark-gray); }
.bg-black                  { background-color: var(--black); }
.bg-clear                  { background-color: var(--clear); }
.bg-lighten-5              { background-color: var(--lighten-5); }
.bg-gray-mask              { background-color: var(--gray-mask); }

.bg-p-color      { background-color: var(--p-color); }
.bg-s-color      { background-color: var(--s-color); }
.bg-refresh-gray { background-color: var(--refresh-gray); }
.bg-cool-gray    { background-color: var(--cool-gray); }
.bg-warm-gray    { background-color: var(--warm-gray); }
.bg-pale-purple  { background-color: var(--pale-purple); }
.bg-pink         { background-color: var(--pink); }

:root {
    --facebook-blue:          #3b5998;
    --quadpay-blue:           #1d73ec;
    --twitter-blue:           #00aced;
    --sms-green:              #1fcc23;

    --lighten-5: rgba(255, 255, 255, .925);
    --clear: rgba(0, 0, 0, 0);

    /* THESE ARE OUR NEW COLORS TODO: vet that these will be used for background*/
    --p-color:     #4427c1;
    --s-color:     #6bc8ad;
    --red:         #f94941;
    --pink:        #f4c3d6;
    --light-red:   #fef7fa;
    --paypal:      #49bbf0;
    --pale-purple: #dedbe5;
    --white:       #ffffff;
    --gray-mask:   rgba(204, 204, 204, 0.1);
    --gray:        #cccccc;
    --dark-gray:   #979797;
    --refresh-gray #f5f5f5;
    --cool-gray:   #eeefef;
    --warm-gray:   #ece6e2;
    --black:       #000000;
}

