.uploadcare-dialog-tab,
.uploadcare-dialog-tabs,
.uploadcare-dialog-panel {
    background: transparent;
    border: 0;
}

.uploadcare-dialog-panel :focus {
    outline: inherit;
}

.uploadcare-dialog-panel {
    padding-left: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.uploadcare-dialog-tabs {
    float: none;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-left: 0;
    display: flex;
    justify-content: center;
}
.uploadcare-dialog-tab {
    width: 72px;
    height: 72px;
    margin: 0 10px 10px 0;
    float: left;
    background-color: var(--warm-gray);
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--white);
}
.uploadcare-dialog-tab:hover {
    background-color: var(--warm-gray);
}
.uploadcare-dialog-tab-facebook:before, .uploadcare-dialog-tab-facebook:hover:before {
    background-image: url('/images/icons/facebook-f.svg');
    background-size: 13px 27px;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 1;
}

.uploadcare-dialog-tab-instagram:before, .uploadcare-dialog-tab-instagram:hover:before {
    background-image: url('/images/icons/instagram.svg');
    background-size: 25px 25px;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 1;
}

.uploadcare-dialog-tab .uploadcare-dialog-icon, .uploadcare-dialog-tab:hover:before, .uploadcare-dialog-tab:before {
    opacity: 1;
}
.uploadcare-dialog-tab-file:before,
.uploadcare-dialog-tab-file:hover:before {
    background-image: url('/images/icons/up-arrow.svg');
    background-size: 30px 30px;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-color: black;
    border-width: var(--border-width);
    opacity: 1;
}
.uploadcare-dialog-tab-file:hover:before {
    opacity: 1;
}
.uploadcare-dialog-tab_current {
    border-style: solid;
    border-width: var(--selected-border-width);
    border-color: var(--p-color);
}

.uploadcare-dialog-tab-file.uploadcare-dialog-tab_current:before {
    opacity: 1;
}
.uploadcare-dialog-tabs-panel,
.uploadcare-dialog-source-base-wrap {
    padding: 0;
    margin: 0;
}
.uploadcare-dialog-file-or:not(.uploadcare-if-draganddrop),
.uploadcare-dialog-file-sources {
    display: none;
}

@media (--on-mobile) {
    .uploadcare-dialog-tabs-panel {
        height: 318px;
    }
}

@media (--on-tablet-and-desktop) {
    .uploadcare-dialog-tabs-panel {
        height: 425px;
    }
}

.uploadcare-dialog-big-button,
.uploadcare-dialog-big-button:hover,
.uploadcare-dialog-big-button:focus,
.uploadcare-dialog-big-button:active,
.big-button,
.big-button:hover,
.big-button:focus,
.big-button:active {
    box-shadow: none;
    border: none;
    text-shadow: none;
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: 900;
    letter-spacing: var(--button-letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    line-height: var(--button-line-height);
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0.5);
    user-select: none;
    border-radius: 0px;
    border-image-source: svg-load(var(--oct-button-medium-svg), fill=var(--p-color), stroke=none);
	  border-image-slice: 15 fill;
    border-image-width: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;

    padding-left: 30px;
    padding-right: 30px;

    border-image-repeat: stretch;

    background: none;
    background-image: none;
}

.source-facebook, .source-instagram {
    background-color: var(--warm-gray);
}


.source-instagram .big-button,
.source-instagram:hover .big-button:hover {
    background: none;
}

.uploadcare-dialog-title {
    text-align: center;
}

.uploadcare-dialog-tab-preview.uploadcare-dialog-tab_current .uploadcare-widget-circle--canvas {
    color: var(--primary);
}

.uploadcare-draganddrop .uploadcare-dialog-file-drop-area {
    /* Dotted border around drag-and-drop area. Though it's supported, we don't want to encourage drag-and-drop. Besides, the dotted border is ugly. */
    border: none;
    background-color: var(--warm-gray);
}

.uploadcare-draganddrop .uploadcare-if-draganddrop {
    /* Copy that explains how to drag-and-drop. Again, hiding drag-and-drop, especially because it's not really possible on phones. */
    display: none;
}

.uploadcare-clouds-tip {
    /* Tries to tell users they will be able to use the native file dialog to access cloud storage and social networks. */
    display: none;
}

/* Tweaks to file upload footer */
.uploadcare-panel-footer {
    padding: 0 10px;
}

.uploadcare-panel-footer .uploadcare-dialog-button {
    float: none;
}

.uploadcare-panel-footer .uploadcare-dialog-button, .uploadcare-panel-footer .uploadcare-dialog-button-success {
    margin: 10px;
}

.uploadcare-dialog-footer {
    /* The uploadcare logo */
    display: none;
}

@custom-media --on-mobile             (max-width: 749px);
@custom-media --on-tablet-and-desktop (min-width: 750px);

:root {
    --button-border-radius: var(--border-radius);
    --border-radius: 2px;

    --primary: #4427c1;

    --white: #ffffff;
    --p-color: #4427c1;
    --warm-gray:   #ece6e2;
    --facebook-blue: #3b5998;

    --border-width: 1px;
    --selected-border-width: 2px;

    --button-font-family: 'Proxima Nova', Arial, sans-serif;
    --button-font-size: inherit;
    --button-font-weight: 900;
    --button-line-height: 1.125rem;
    --button-letter-spacing: 0;
    --button-padding-y: 1rem;
    --button-padding-x: 1rem;
    --darken-1: rgba(0, 0, 0, .075);
    --darken-3: rgba(0, 0, 0, .375);

    --oct-button-medium-svg: '../public/images/oct_button_medium.svg';
}
