.container { max-width: 640px; }

.home-container { width: 320px; }
@media (--breakpoint-md-up) { .home-container { width: 427px; } }
@media (--breakpoint-lg-up) { .home-container { width: 768px; } }
@media (--breakpoint-xl-up) { .home-container { width: 100%; } }

.banner-container { height: 216px; }
@media (--breakpoint-md-up) { .banner-container { height: 288px; } }
@media (--breakpoint-lg-up) { .banner-container { height: 326px; } }
@media (--breakpoint-xl-up) { .banner-container { height: 432px; } }

@custom-media --breakpoint-md-up (min-width: 640px);
@custom-media --breakpoint-lg-up (min-width: 768px); /* lg-up is the same as lg */
@custom-media --breakpoint-xl-up (min-width: 1024px);
