.content-box { box-sizing: content-box; }

.container {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.stretch {
    min-height: 100vh;
    min-height: -webkit-stretch;
}

@media (--on-tablet) {
  .container.pdp-on-tb { max-width: none; }
  .max-960, .container { max-width: 720px; }
}

@media (--on-desktop) {
  .max-960, .container { max-width: 960px; }
}

.max-580 { max-width: 580px; }

@media (--over-max-580) {
    .max-580 {
        border-left: 1px var(--cool-gray) solid;
        border-right: 1px var(--cool-gray) solid;
    }
}

.max-1080 {
    max-width: 1080px;
}

@custom-media --on-tablet  (min-width: 750px) and (max-width: 999px);
@custom-media --on-desktop (min-width: 1000px);
@custom-media --over-max-580 (min-width: 580px);

/* When there's over x lines of text, show an ellipsis */
.ellipsis-5 {
    /* See https://github.com/postcss/autoprefixer/issues/1220 */
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis-15 {
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    overflow: hidden;
    text-overflow: ellipsis;
}

:root {
    --error:          #ff004f;
    --yellow:         #ffc520;
    --white:          #ffffff;
    --black:          #000000;

    --p-color:     #4427c1;
    --s-color:     #6bc8ad;
    --red:         #f94941;
    --paypal:      #49bbf0;
    --pale-purple: #dedbe5;
    --white:       #ffffff;
    --gray:        #cccccc;
    --cool-gray:   #eeefef;
    --black:       #000000;
}
