.serif       { font-family: var(--serif); }
.sans-serif  { font-family: var(--sans-serif); }

h1, h2, h3, h4, h5, h6 { font-weight: var(--heading-font-weight); }

.regular { font-weight: var(--font-weight); }
.light   { font-weight: var(--light-font-weight); }
.medium  { font-weight: var(--medium-font-weight); }
.bold    { font-weight: var(--bold-font-weight); }

.titleize { text-transform: capitalize; }
.shout { text-transform: uppercase; }
.strike { text-decoration: line-through; }

.shadow { text-shadow: 1px 1px #000; }
.engrave-2 { text-shadow: 0 -1px 0 var(--darken-2); }

.crush { letter-spacing: -0.05em; }
.letter-spacing-0 { letter-spacing: 0; }
.letter-spacing-1 { letter-spacing: 1px; }
.letter-spacing-2 { letter-spacing: 2px; }
.letter-spacing-3 { letter-spacing: 3px; }
.letter-spacing-4 { letter-spacing: 4px; }
.letter-spacing-5 { letter-spacing: 5px; }
.letter-spacing-6 { letter-spacing: 6px; }
.letter-spacing-7 { letter-spacing: 7px; }

.line-length { /* used on headers & paragraphs to make sure they're not too wide */
  max-width: 600px;
}

.list-reset > dd:after {
    display: block;
    content: '';
}

.font-style-normal { font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light-webfont.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold-webfont.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

:root {
    --serif: serif;
    --sans-serif: sans-serif;

    --darken-2: rgba(0, 0, 0, .125);

    --font-weight: var(--medium-font-weight);

    --heading-font-weight: var(--bold-font-weight);

    --light-font-weight: 300;
    --medium-font-weight: 400;
    --bold-font-weight: 700;
}
