.yellow         { color: var(--yellow); }
.gray           { color: var(--gray); }
.error          { color: var(--error); }
.inherit-color  { color: inherit; }

.placeholder-black::placeholder { color: var(--black); }

.p-color     { color: var(--p-color); }
.s-color     { color: var(--s-color); }
.red         { color: var(--red); }
.paypal      { color: var(--paypal); }
.pale-purple { color: var(--pale-purple); }
.white       { color: var(--white); }
.cool-gray   { color: var(--cool-gray); }
.black       { color: var(--black); }

:root {
  --error:          #ff004f;
  --yellow:         #ffc520;
  --gray:           #B9B9B9;

  /* THESE ARE OUR NEW COLORS */
  --p-color:     #4427c1;
  --s-color:     #6bc8ad;
  --red:         #f94941;
  --paypal:      #49bbf0;
  --pale-purple: #dedbe5;
  --white:       #ffffff;
  --cool-gray:   #eeefef;
  --black:       #000000;
}
