body {
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  margin-top: var(--heading-margin-top);
  margin-bottom: var(--heading-margin-bottom);
}

p {
  margin-top: var(--paragraph-margin-top);
  margin-bottom: var(--paragraph-margin-bottom);
}

dl, ol, ul {
  margin-top: var(--list-margin-top);
  margin-bottom: var(--list-margin-bottom);
}

h1 { font-size: var(--h1) }
h2 { font-size: var(--h2) }
h3 { font-size: var(--h3) }
h4 { font-size: var(--h4) }
h5 { font-size: var(--h5) }
h6 { font-size: var(--h6) }

a {
  text-decoration: none;
}

.serif       { font-family: var(--serif); }
.sans-serif  { font-family: var(--sans-serif); }
.medium      { font-weight: 500; }
.light       { font-weight: 300; }

.titleize { text-transform: capitalize; }
.shout { text-transform: uppercase; }
.strike { text-decoration: line-through; }

.shadow { text-shadow: 1px 1px #000; }
.engrave-2 { text-shadow: 0 -1px 0 var(--darken-2); }

.letter-spacing-1 { letter-spacing: 1px; }
.letter-spacing-2 { letter-spacing: 2px; }
.letter-spacing-3 { letter-spacing: 3px; }

/* Use customized Graphik fonts when applying .medium or .bold */
/* This was broken in old styles. */
@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Light.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

:root {
    --font-family-graphik: 'Graphik',-apple-system,BlinkMacSystemFont,'helvetica neue',helvetica,Ubuntu,'segoe ui',arial,sans-serif;

    --line-height: 1.2;
    --font-family: var(--sans-serif);
    --heading-font-family: var(--sans-serif);
    --heading-font-weight: normal;
    --heading-line-height: var(--line-height);
    --heading-margin-top: 0;
    --heading-margin-bottom: 0;

    --h1: 2rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --h4: 1rem;
    --h5: .875rem;
    --h6: .75rem;

    --paragraph-margin-top: 0;
    --paragraph-margin-bottom: 0;

    --list-margin-top: 0;
    --list-margin-bottom: 0;

    --serif: serif;
    --sans-serif: var(--font-family-graphik);

    --darken-2: rgba(0, 0, 0, .125);
}
