
.g0  { gap: 0 }
.g1  { gap: var(--space-1) }
.g2  { gap: var(--space-2) }
.g3  { gap: var(--space-3) }
.g4  { gap: var(--space-4) }
.g5  { gap: var(--space-5) }
.g6  { gap: var(--space-6) }
.g7  { gap: var(--space-7) }
.g8  { gap: var(--space-8) }
.g10 { gap: var(--space-10) }

@media (--on-mobile) {
  .flex-row-reverse-on-mb { flex-direction: row-reverse; }
  .flex-column-on-mb { flex-direction: column; }
}

@media (--on-tablet) {
  .flex-on-tb { display: flex }
  .items-start-on-tb, .items-start-on-tb-dt { align-items: start; }
  .items-center-on-tb, .items-center-on-tb-dt { align-items: center; }
}

@media (--on-tablet-and-desktop) {
  .flex-on-tb-dt { display: flex }
  .justify-start-on-tb-dt { justify-content: flex-start; }
  .flex-column-on-tb-dt { flex-direction: column; }
  .items-start-on-dt, .items-start-on-tb-dt { align-items: start; }
  .items-center-on-dt, .items-center-on-tb-dt  { align-items: center; }
  .justify-center-on-tb-dt { justify-content: center;}
}

@media (--on-desktop) {
  .flex-on-dt { display: flex }
}


@custom-media --on-mobile             (max-width: 749px);
@custom-media --on-tablet             (min-width: 750px) and (max-width: 999px);
@custom-media --on-tablet-and-desktop (min-width: 750px);
@custom-media --on-desktop            (min-width: 1000px);

.flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-grow-4 { flex-grow: 4; }
.flex-grow-5 { flex-grow: 5; }

:root {
    --space-1: .5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 4rem;
    --space-5: 8rem;
    --space-6: 16rem;
    --space-7: 32rem;
    --space-8: 64rem;
    --space-10: 256rem;
}
