.stroke-teal   { stroke: var(--teal); }
.stroke-navy   { stroke: var(--navy); }
.stroke-orange { stroke: var(--orange); }
.stroke-aqua   { stroke: var(--aqua); }

.fill-twitter-blue { fill: var(--twitter-blue); }
.fill-teal         { fill: var(--teal); }
.fill-navy         { fill: var(--navy); }
.fill-orange       { fill: var(--orange); }
.fill-aqua         { fill: var(--aqua); }

.stroke-white          { stroke: var(--white); }
.stroke-light-silver   { stroke: var(--light-silver); }
.stroke-silver         { stroke: var(--silver); }
.stroke-dark-silver    { stroke: var(--dark-silver); }
.stroke-light-gray     { stroke: var(--light-gray); }
.stroke-gray           { stroke: var(--gray); }
.stroke-dark-gray      { stroke: var(--dark-gray); }
.stroke-black          { stroke: var(--black); }

.fill-white            { fill: var(--white); }
.fill-light-silver     { fill: var(--light-silver); }
.fill-silver           { fill: var(--silver); }
.fill-dark-silver      { fill: var(--dark-silver); }
.fill-light-gray       { fill: var(--light-gray); }
.fill-gray             { fill: var(--gray); }
.fill-dark-gray        { fill: var(--dark-gray); }
.fill-black            { fill: var(--black); }

:root { /* Compare to app.css :( */
  --twitter-blue:   #00aced;
  --teal:         #40CBAC;
  --navy:         #175674;
  --orange:       #FFC520;
  --aqua:         #49BBF0;

  --white:        #ffffff;
  --light-silver: #f2f2f2;
  --silver:       #ebebeb;
  --dark-silver:  #dadada;
  --light-gray:   #b4b4b4;
  --gray:         #666666;
  --dark-gray:    #333333;
  --black:        #000000;
}
