.segmented-control-item:first-child {
    margin-left: -1px;
    margin-right: 1px;
    border-radius: 4px 0 0 4px;
}
.segmented-control-item:last-child {
    margin-left: 1px;
    margin-right: -1px;
    border-radius: 0 4px 4px 0;
}
